<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--<div style="margin: auto; max-width: 1500px; margin-top:-10px">-->
<div>
  <button class="Rectangle-38"><span>Reoptimize</span></button>
  <button class="Rectangle-38"><a (click)="showAddContainerDialog = !showAddContainerDialog">Add Container</a></button>
  <button class="Rectangle-38" (click) = "deleteContainer()"><span>Delete Container</span></button>
  <button class="Rectangle-38"><span>To Excel</span></button>
  <div class="dropdown">
    <button class="dropbtn"><span>More action</span></button>
    <div class="dropdown-content">
      <a (click) = "getAllPo()" (click)="showDialog = !showDialog">Add PO</a>
      <a *ngIf="purchaseOrders.length === 1" (click)="showSplitPoDialog = !showSplitPoDialog">Split PO</a>
      <a (click) = "deletePurchaseOrder()">Delete PO</a>
    </div>
  </div>
<br>
  <div class=" col-md-6 alert alert-danger alert-dismissible" (click)="clearAlert()"
       style="margin-top: 5px" *ngIf="alertMessage && alertMessage !== ''">
    <strong>Alert!</strong> {{ alertMessage}}
  </div>

  <app-add-container-dialog [(visible)]="showAddContainerDialog">

    <div>Add container</div>
    <hr class="border-line">

    <div>
      <span class="labels">Container size type</span>
      <span class="loadPort">Load Port</span>
    </div>
    <div>
    <span>
  <select [(ngModel)]="selectedContainerSize" class="leftDropdown">
    <option *ngFor="let container of containerSize" value={{container}}>{{container}}</option>
  </select>
      </span>
      <span>
    <select [(ngModel)]="selectedLoadPort.name" class="rightDropdown">
      <option *ngFor="let port of loadPort" value={{port.name}}>{{port.name}}</option>
    </select>
    </span>
    </div>
    <br>

    <div>
      <span class="labels">Discharge Port</span>
      <span class="carrier">Carrier</span>
    </div>
    <div>
    <span>
  <select [(ngModel)]="selectedDischargePort.name" class="leftDropdown">
    <option *ngFor="let disPort of dischargePort" value={{disPort.name}}>{{disPort.name}}</option>
  </select>
      </span>
      <span>
    <select [(ngModel)]="selectedCarrier.name" class="rightDropdown">
      <option *ngFor="let carrier of Carrier" value={{carrier.name}}>{{carrier.name}}</option>
    </select>
    </span>
    </div>
    <br>

    <div>
      <span class="labels">ETD</span>
      <span class="eta">ETA</span>
    </div>

    <div class="dateClass">
     <span><my-date-picker [options]="myDatePickerOptions" [(ngModel)]="selectedETD"></my-date-picker></span>
     <span><my-date-picker  class ="secondDatePicker" [options]="myDatePickerOptions" [(ngModel)]="selectedETA"></my-date-picker></span>
    </div>

    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showAddContainerDialog = !showAddContainerDialog" class="btn" style="color: #398fd1">Cancel
      </button>
      <button class="confirm Rectangle-2" type="button" (click)="addContainer($event)"
              (click)="showAddContainerDialog = !showAddContainerDialog"><span>Confirm</span></button>
    </div>

  </app-add-container-dialog>


  <app-po-dialog [(visible)]="showDialog">

    <div class="addPo">Add PO</div>

    <hr class="Line-2-Copy-3">

    <div style= "width: 100%; margin-top:-10px;">
      <data-table id="notPlannedPo-grid"
                  [items]="notPlannedPo"
                  [itemCount]="notPlannedPoCount"
                  [limit]="15"
                  [sortBy]="'expectedDeliveryDate'"
                  [sortAsc]="true"
                  [selectColumn]="true"
                  [multiSelect]="true"
                  [substituteRows]="false"
                  [expandableRows]="false"
                  [translations]="translations"
                  [indexColumnHeader]="'#'"
                  [indexColumn] = "true"
                  [selectOnRowClick]="true"
                  (reload)="reloadNotPlannedPo($event)"




      >
        <template #dataTableExpand let-item="item">
          <!--<div [textContent]="'LPNumber'" style="padding: 5px; color: gray"></div>-->
        </template>

        <data-table-column
          [property]="'poStatus'"
          [header]="'Status'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]= "'soNumber'"
          [header]="'SO'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]="'poNumber'"
          [header]="'PO'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]="'skuNumber'"
          [header]="'SKU'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]="'vendoe'"
          [header]="'Vendor'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]="'bookedCbm'"
          [header]="'Volume'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]="'expectedCargoReceiptDate'"
          [header]="'Expected Receipt Date'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]="'expectedDeliveryDate'"
          [header]="'Expected Delivery Date'"
          [sortable]="true">
        </data-table-column>
      </data-table>
    </div>
    <br>
    <div class="addButtonDiv">
      <button class="Rectangle-2" (click)="addPo($event)" (click)="showDialog = !showDialog"><span class="addPO">Add PO</span></button>
    </div>
  </app-po-dialog>

  <app-split-po-dialog [(visible)]="showSplitPoDialog">
    <div>Split PO</div>
    <hr class="border-line">

    <div style ="margin-bottom: 6px;">
      <span class="labels">Option</span>
      <span class="carrier">Value</span>
    </div>
    <div>
    <span>
   <select [(ngModel)]="selectedSplitOption.name" class="splitLeftDeopdown">
    <option *ngFor="let split of splitOption" value={{split.name}}>{{split.name}}</option>
  </select>
      </span>
      <span>
    <input class="textBox" type="text" name="value" [(ngModel)]="splitText">
    </span>
    </div>
    <br>
    <hr class="border-line">

    <div class="addButtonDiv">
      <button (click)="showSplitPoDialog = !showSplitPoDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2"  type="button" (click)="splitPo()" (click)="showSplitPoDialog = !showSplitPoDialog"><span>Split</span> </button>
    </div>


  </app-split-po-dialog>


  <div style="width:100%; margin-top:-10px">
    <data-table id="films-grid"
                [items]="containers"
                [itemCount]="containerCount"
                [limit]="10"
                [sortBy]="'etd'"
                [sortAsc]="true"
                [expandableRows]="true"
                [selectColumn]="true"
                [multiSelect]="false"
                [substituteRows]="false"
                [translations]="translations"
                [indexColumnHeader]="'#'"
                [selectOnRowClick]="true"
                [pagination]="true"
                (rowClick)="rowClick($event)"
                [indexColumn]="false"
                (reload)="reloadOptimisedContainer($event)"

    >
      <template #dataTableExpand let-item="item">
        <table style="width: 100% ;background-color: #f3f4f4;">
          <thead class="table-header">
          <tr style="height: 36px">
            <th></th>
            <th></th>
            <th> <input type="checkbox" [checked]="isAllChecked(item.purchaseOrderOp)" (change)="checkAll($event, item.purchaseOrderOp)"/></th>
            <th><span>Orders</span></th>
            <th><span>Booking</span></th>
            <th><span>SKU</span></th>
            <th><span>Vendor</span></th>
            <th><span>Volume</span></th>
            <th><span>Package</span></th>
            <th><span>Expected receive date</span></th>
            <th><span>Expected delivery date</span></th>
            <th><span>Destination</span></th>
            <th><span>status</span></th>
          </tr>
          </thead>
          <tbody class="Template-name" [sortablejs]="item.purchaseOrderOp" [sortablejsOptions]="sortablejsOptions" [id]="item.id">
          <tr *ngFor="let po of item.purchaseOrderOp" [id]="po.id">
            <td></td>
            <td></td>
            <td>
              <input type="checkbox"
                     value="{{po.id}}" [(ngModel)]="po.updateAction" (change)="checkOne($event, po)"/>
            </td>
            <td><span>{{po.poNumber}}</span></td>
            <td><span>{{po.soNumber}}</span></td>
            <td><span>{{po.skuNumber}}</span></td>
            <td><span>{{po.vendoe}}</span></td>
            <td><span>{{po.bookedCbm}}</span></td>
            <td><span>{{po.bookedCartons}}</span></td>
            <td><span>{{po.expectedCargoReceiptDate}}</span></td>
            <td><span>{{po.expectedDeliveryDate}}</span></td>
            <td><span>{{po.podCity}}</span></td>
            <td><span>{{po.poStatus}}</span></td>
          </tr>
          </tbody>
        </table>
        <!--<div [textContent]="'LPNumber'" style="padding: 5px; color: gray"></div>-->
      </template>
      <data-table-column
        [property]="'containerNumber'"
        [header]="'Container Number'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'originServiceType'"
        [header]="'Service Type'"
        [sortable]="true">
        <template #dataTableCell let-item="item" >
          <span *ngIf="item.purchaseOrderOp.length != 0">{{item.purchaseOrderOp[0].originServiceType}}</span>
        </template>
      </data-table-column>
      <data-table-column
        [property]="'carrier'"
        [header]="'Carrier'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'containerSizeType'"
        [header]="'Container size type'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'volume'"
        [header]="'Volume'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'loadPort'"
        [header]="'Load Port'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'dischargePort'"
        [header]="'Discharge Port'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'destination'"
        [header]="'Destination'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'etd'"
        [header]="'ETD'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'eta'"
        [header]="'ETA'"
        [sortable]="true">
      </data-table-column>
    </data-table>

    <!--<div style="margin-top: 10px">-->
      <!--<b>Selected:</b>-->
      <!--<span *ngIf="filmsTable.selectedRow == null"><i>No item selected</i></span>-->
      <!--<span [textContent]="filmsTable.selectedRow && filmsTable.selectedRow.item.containerNumber"></span>-->
    <!--</div>-->

    <!--<div [(ngModel)]= selectedItem *ngFor="let selected of filmsTable.selectedRows">-->
      <!--<span [textContent]="selected.item.containerNumber"></span>-->
    <!--</div>-->







