<div class="container-fluid">
  <div class="header">Origin</div>
  <hr class="separator">

  <div>

    <button class="Rectangle-38" (click)="showAddRecordDialog = !showAddRecordDialog"><span>Add a Record</span></button>
    <button class="Rectangle-38" [disabled] = "originTable.selectedRows.length != 1" (click)="editRecord()"><span>Edit Record</span></button>
    <button class="Rectangle-38"><a (click)="deleteOrigin($event)">Delete a record</a></button>
    <button class="Rectangle-38"><a (click)="exportToExcel()">Export to Excel</a></button>
    <button class="Rectangle-38" (click)="showImportDialog = !showImportDialog"><span>Import from Excel</span></button>

  </div>


  <app-add-record-dialog [(visible)]="showAddRecordDialog">

    <div>Add Origin</div>
    <hr class="border-line">

    <div>
      <span class="heading">Origin Name</span>
      <span style="margin-left: 164px">Place of receipt</span>
    </div>
    <div>
      <span><input class="input" type="text" id="originName" name="originName" [(ngModel)]="originName"/></span>
      <span class="span"><input class="input" type="text" id="placeOfReceipt" name="placeOfReceipt" [(ngModel)]="placeOfReceipt"/></span>
    </div>
    <br>

    <div>
      <span class="heading">CFS Warehouse</span>
      <span style="margin-left: 144px">Loading Port</span>
    </div>
    <div>
      <span><input class="input" type="text" id="cfsWarehouse" name="cfsWarehouse" [(ngModel)]="cfsWarehouse"/></span>
      <span class="span"><input class="input" type="text" id="loadingPort" name="loadingPort" [(ngModel)]="loadingPort"/></span>
    </div>

    <br>

    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showAddRecordDialog = !showAddRecordDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="addOriginRecord()"
              (click)="showAddRecordDialog = !showAddRecordDialog"><span>Add</span></button>
    </div>
  </app-add-record-dialog>



  <app-edit-record-dialog [(visible)]="showEditDialog">

    <div>Edit Origin</div>
    <hr class="border-line">

    <div>
      <span class="heading">Origin Name</span>
      <span style="margin-left: 164px">Place of receipt</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editOriginName" name="editOriginName" [(ngModel)]="editOriginName"/></span>
      <span class="span"><input class="input" type="text" id="editPlaceOfReceipt" name="editPlaceOfReceipt" [(ngModel)]="editPlaceOfReceipt"/></span>
    </div>
    <br>

    <div>
      <span class="heading">CFS Warehouse</span>
      <span style="margin-left: 144px">Loading Port</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editCfsWareHouse" name="editCfsWareHouse" [(ngModel)]="editCfsWareHouse"/></span>
      <span class="span"><input class="input" type="text" id="editLoadingPort" name="editLoadingPort" [(ngModel)]="editLoadingPort"/></span>
    </div>

    <br>
    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showEditDialog = !showEditDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="editOriginRecord()"
              (click)="showEditDialog = !showEditDialog"><span>Save</span></button>
    </div>
  </app-edit-record-dialog>

  <app-import-orders-dialog [(visible)]="showImportDialog">
    <div>Import Origin</div>
    <hr class="border-line">
    <form #yourForm="ngForm" (ngSubmit)="onImport()">
      <div>
        <label class="upload">Choose file to upload Origin data</label>
        <input type="file" #fileupload [(ngModel)]="myOrigin" name="myOrigin"
               (change)="fileChange(fileupload.files)"/>
      </div>
      <br>
      <hr class="border-line">
      <div class="addButtonDiv">
        <button (click)="showImportDialog = !showImportDialog" class="btn" style="color: #398fd1">Cancel</button>
        <button class="import Rectangle-2" type="submit"><span>Import</span></button>
      </div>
    </form>
  </app-import-orders-dialog>


  <div style="max-width: 100%;">
    <data-table id="origin-grid"
                [items]="origins"
                [itemCount]="originCount"
                [limit]="15"
                [sortBy]="'originName'"
                [sortAsc]="true"
                [selectColumn]="true"
                [multiSelect]="true"
                [substituteRows]="false"
                [expandableRows]="false"
                [indexColumnHeader]="'#'"
                [indexColumn]="true"
                [translations]="translations"
                [selectOnRowClick]="true"
                [pagination]="true"
                (reload)="reloadOrigin($event)"
    >
      <template #dataTableExpand let-item="item">
      </template>
      <data-table-column
        [property]="'originName'"
        [header]="'Origin Name'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'placeOfReceipt'"
        [header]="'Place of Receipt'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'cfsWarehouse'"
        [header]="'CFS Warehouse'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'loadingPort'"
        [header]="'Loading Port'"
        [sortable]="true">
      </data-table-column>
    </data-table>
  </div>


</div>
