<div class="container-fluid">
  <div class="header"> CFS Warehouse</div>
  <hr class="separator">

  <div>

    <button class="Rectangle-38" (click)="addWarehouse()"><span>Add a Record</span></button>
    <button class="Rectangle-38" [disabled] = "wareHouseTable.selectedRows.length != 1" (click)="editRecord()"><span>Edit Record</span></button>
    <button class="Rectangle-38"><a (click)="deleteRecord($event)">Delete a record</a></button>
    <button class="Rectangle-38"><a (click)="exportToExcel()">Export to Excel</a></button>
    <button class="Rectangle-38" (click)="showImportDialog = !showImportDialog"><span>Import from Excel</span></button>

  </div>


  <app-add-record-dialog [(visible)]="showDialog">

    <div *ngIf="mode === 'add'" style="font-weight: 700;">Add Warehouse</div>
    <div *ngIf="mode === 'edit'" style="font-weight: 700;">Edit Warehouse</div>
    <hr class="border-line">

    <div class="row form-group">
      <div class="col-md-6">
        <label for="name"> CFS Warehouse Name</label>
        <input type="text" id="name" class="form-control form-control-lg" [(ngModel)]="wareHouse.name">
      </div>
      <div class="col-md-6">
        <label for="location"> Location</label>
        <input type="text" id="location" class="form-control form-control-lg" [(ngModel)]="wareHouse.location">
      </div>
    </div>
    <div class="row  form-group">
      <div class="col-md-6">
        <label for="locationCode">Location Code</label>
        <input type="text" id="locationCode" class="form-control form-control-lg" [(ngModel)]="wareHouse.locationCode">
      </div>
      <div class="col-md-6">
        <label for="cargoHoldingDays">Cargo Holding Days</label>
        <input type="number" id="cargoHoldingDays" class="form-control form-control-lg" [(ngModel)]="wareHouse.cargoHoldingDays">
      </div>
    </div>
    <div class="row  form-group">
      <div class="col-md-6">
        <label for="workingDays">Working Days</label>
        <input type="text" id="workingDays" class="form-control form-control-lg" [(ngModel)]="wareHouse.workingDays">
      </div>
    </div>
    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showDialog = !showDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="addRecord()"
              (click)="showDialog = !showDialog">
        <span *ngIf="mode === 'add'">Save</span>
        <span *ngIf="mode === 'edit'">Update</span>
      </button>
    </div>
  </app-add-record-dialog>

  <app-import-orders-dialog [(visible)]="showImportDialog">
    <div>Import CFS warehouse</div>
    <hr class="border-line">
    <form #yourForm="ngForm" (ngSubmit)="onImport()">
      <div>
        <label class="upload">Choose file to upload</label>
        <input type="file" #fileupload [(ngModel)]="wareHouseFile" name="wareHouseFile"
               (change)="fileChange(fileupload.files)"/>
      </div>
      <br>
      <hr class="border-line">
      <div class="addButtonDiv">
        <button (click)="showImportDialog = !showImportDialog" class="btn" style="color: #398fd1">Cancel</button>
        <button class="import Rectangle-2" type="submit"><span>Import</span></button>
      </div>
    </form>
  </app-import-orders-dialog>


  <div style="max-width: 100%;">
    <data-table id="wareHouseGrid"
                [items]="warehouses"
                [itemCount]="wareHouseCount"
                [limit]="15"
                [sortBy]="'name'"
                [sortAsc]="true"
                [selectColumn]="true"
                [multiSelect]="true"
                [substituteRows]="false"
                [expandableRows]="false"
                [indexColumnHeader]="'#'"
                [indexColumn]="true"
                [translations]="translations"
                [selectOnRowClick]="true"
                [pagination]="true"
                (reload)="reloadWareHouse($event)">
      <template #dataTableExpand let-item="item">
      </template>
      <data-table-column [property]="'name'" [header]="'CFS Warehouse Name'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'location'" [header]="'Location'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'locationCode'" [header]="'Location code'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'cargoHoldingDays'" [header]="'Cargo Holding Days'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'workingDays'" [header]="'Working Days'" [sortable]="true"></data-table-column>

    </data-table>
  </div>


</div>
