<div class="container-fluid">
  <div class="header">Allowed Containers</div>
  <hr class="separator">

  <div>

    <button class="Rectangle-38" (click)="addContainer()"><span>Add a Record</span></button>
    <button class="Rectangle-38" [disabled] = "dataTable.selectedRows.length != 1" (click)="editRecord()"><span>Edit Record</span></button>
    <button class="Rectangle-38"><a (click)="deleteRecord($event)">Delete a record</a></button>
    <button class="Rectangle-38"><a (click)="exportToExcel()">Export to Excel</a></button>
    <button class="Rectangle-38" (click)="showImportDialog = !showImportDialog"><span>Import from Excel</span></button>

  </div>


  <app-add-record-dialog [(visible)]="showDialog">

    <div *ngIf="mode === 'add'" style="font-weight: 700;">Add allowed container</div>
    <div *ngIf="mode === 'edit'" style="font-weight: 700;">Edit allowed container</div>
    <hr class="border-line">

    <div class="row form-group">
      <div class="col-md-6">
        <label for="origin">Origin</label>
        <input type="text" id="origin" class="form-control form-control-lg" [(ngModel)]="allowedContainer.origin">
      </div>
      <div class="col-md-6">
        <label for="destination">Destination</label>
        <input type="text" id="destination" class="form-control form-control-lg" [(ngModel)]="allowedContainer.destination">
      </div>
    </div>
    <br>
    <div class="row form-group">
      <div class="col-md-3">
        <label>Allow 20DRY</label>
      </div>
      <div class="col-md-6">
        <input class="form-check-input" type="radio" [(ngModel)]="allowedContainer.allow20Dry" name="20dry" id="1" value="Yes">
        <label class="form-check-label radioButton" for="1">Yes</label>
        <input class="form-check-input" type="radio" [(ngModel)]="allowedContainer.allow20Dry" name="20dry" id="2" value="No">
        <label class="form-check-label radioButton" for="2">No</label>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label>Allow 40DRY</label>
      </div>
      <div class="col-md-6">
        <input class="form-check-input" type="radio" [(ngModel)]="allowedContainer.allow40Dry" name="40dry" id="3" value="Yes">
        <label class="form-check-label radioButton" for="3">Yes</label>
        <input class="form-check-input" type="radio" [(ngModel)]="allowedContainer.allow40Dry" name="40dry" id="4" value="No">
        <label class="form-check-label radioButton" for="4">No</label>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3">
        <label>Allow 40HIGH</label>
      </div>
      <div class="col-md-6">
        <input class="form-check-input" type="radio" [(ngModel)]="allowedContainer.allow40High" name="40high" id="5" value="Yes">
        <label class="form-check-label radioButton" for="5">Yes</label>
        <input class="form-check-input" type="radio" [(ngModel)]="allowedContainer.allow40High" name="40high" id="6" value="No">
        <label class="form-check-label radioButton" for="6">No</label>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3">
        <label>Allow 40REEF</label>
      </div>
      <div class="col-md-6">
        <input class="form-check-input" type="radio" [(ngModel)]="allowedContainer.allow40Reef" name="40Reef" id="7" value="Yes">
        <label class="form-check-label radioButton" for="7">Yes</label>
        <input class="form-check-input" type="radio" [(ngModel)]="allowedContainer.allow40Reef" name="40Reef" id="8" value="No">
        <label class="form-check-label radioButton" for="8">No</label>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3">
        <label>Allow 45HIGH</label>
      </div>
      <div class="col-md-6">
        <input class="form-check-input" type="radio" [(ngModel)]="allowedContainer.allow45High" name="allow45High" id="9" value="Yes">
        <label class="form-check-label radioButton" for="9">Yes</label>
        <input class="form-check-input" type="radio" [(ngModel)]="allowedContainer.allow45High" name="allow45High" id="10" value="No">
        <label class="form-check-label radioButton" for="10">No</label>
      </div>
    </div>
    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showDialog = !showDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="addRecord()"
              (click)="showDialog = !showDialog">
        <span *ngIf="mode === 'add'">Save</span>
        <span *ngIf="mode === 'edit'">Update</span>
      </button>
    </div>
  </app-add-record-dialog>

  <app-import-orders-dialog [(visible)]="showImportDialog">
    <div>Import allowed containers</div>
    <hr class="border-line">
    <form #yourForm="ngForm" (ngSubmit)="onImport()">
      <div>
        <label class="upload">Choose file to upload</label>
        <input type="file" #fileupload [(ngModel)]="file" name="containerFile"
               (change)="fileChange(fileupload.files)"/>
      </div>
      <br>
      <hr class="border-line">
      <div class="addButtonDiv">
        <button (click)="showImportDialog = !showImportDialog" class="btn" style="color: #398fd1">Cancel</button>
        <button class="import Rectangle-2" type="submit"><span>Import</span></button>
      </div>
    </form>
  </app-import-orders-dialog>


  <div style="max-width: 100%;">
    <data-table id="wareHouseGrid"
                [items]="allowedContainers"
                [itemCount]="allowedContainersCount"
                [limit]="15"
                [sortBy]="'origin'"
                [sortAsc]="true"
                [selectColumn]="true"
                [multiSelect]="true"
                [substituteRows]="false"
                [expandableRows]="false"
                [indexColumnHeader]="'#'"
                [indexColumn]="true"
                [translations]="translations"
                [selectOnRowClick]="true"
                [pagination]="true"
                (reload)="reload($event)">
      <template #dataTableExpand let-item="item">
      </template>
      <data-table-column [property]="'origin'" [header]="'Origin Location'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'destination'" [header]="'Destination Location'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'allow20Dry'" [header]="'Allow 20DRY'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'allow40Dry'" [header]="'Allow 40DRY'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'allow40High'" [header]="'Allow 40HIGH'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'allow40Reef'" [header]="'Allow 40REEF'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'allow45High'" [header]="'Allow 45HIGH'" [sortable]="true"></data-table-column>

    </data-table>
  </div>


</div>
