<div class="Rule-management-temp">&nbsp;&nbsp;&nbsp;Decision tree templates</div>
<br>
&nbsp;&nbsp;&nbsp;<button class="createNewButton">
  <a (click)="showDialog = !showDialog">Create new</a> </button>
<!--&nbsp;&nbsp;&nbsp;<button routerLink="matchingRule"  (click)="createNew()"  class="createNewButton">Create New</button>-->
<button  (click)="copyAndUpdateDecisionTreeList()" class="createFromTemplateButton" >Create from Template<span class="layer -caret-down"></span></button>
<button (click)="editDecisionTree()" class="editButton" >Edit<span class="layer -caret-down"></span></button>
<button  (click)="deleteAndUpdateDecisionTreeList()" class="deleteButton" >Delete<span class="layer -caret-down"></span></button>
<br><br>


<app-create-decision-tree-dialog [(visible)]="showDialog">
  <div>Create decision tree</div>
  <hr class="border-line">
  <div style="margin-top:20px;"></div>
  <div style="margin-bottom:20px;">
    <input [(ngModel)]="decisionTreeName" style="font-size:large;width:80%; height: 40px"
           placeholder="Decision tree name" required="true" class="form-control-lg form-control">
  </div>
  <hr class="border-line">
  <div class="addButtonDiv">
    <button (click)="showDialog = !showDialog" class="btn" style="color: #398fd1">Cancel</button>
    <button class="ok square"  type="button" (click)="createDecisionTree()" (click)="showDialog = !showDialog" [disabled]="!decisionTreeName">Ok </button>
  </div>
</app-create-decision-tree-dialog>

<div class="container-fluid" >
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border">
    <thead>
    <tr>
      <th style="width: 10%">Sequence #</th>
      <th>Name</th>
      <th>Created by</th>
      <th>Label</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody [sortablejs]="allTrees" [sortablejsOptions]="options">
    <tr *ngFor="let tree of allTrees; let i = index " [ngClass]="{'active': (selectedDecisionTreeId == tree.id), 'even': (i%2!=0),'odd': (i%2==0)}" [id]="tree.id">
      <td>{{ tree.order }}</td>
      <td>{{ tree.templateName }}</td>
      <td>{{ tree.createdBy }}</td>
      <td>{{ tree.label }}</td>
      <td>{{ tree.status }}</td>
    </tr>
    <tr *ngIf="allTrees?.length == 0">
      <td colspan="5" class="no-data-available">No data!</td>
    </tr>
    </tbody>
  </table>
</div>

<!--<a routerLink="/overview" class="create-Template"> create Template</a>-->

