.Rule-management-temp {
  width: 401px;
  height: 27px;
  font-family: Arial;
  font-size: 24px;
  text-align: left;
  color: #5e6167;
}

.Create-Template {
  width: 140px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #ffffff;

}
.createNewButton {
  width: 150px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #979797;

  height: 35px;
  border-radius: 2px;
  background-color: #398fd1;
  color:#FFFFFF;
}
.createFromTemplateButton {
  height: 35px;
  width:175px;
  border-radius: 2px;
  border: solid 1px #979797;

  height: 35px;
  border-radius: 2px;
  background-color: #ffffff;

}
.deleteButton {
  width:150px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #979797;

  height: 35px;
  border-radius: 2px;
  background-color: #ffffff;

}
.editButton {
  width:150px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #979797;

  height: 35px;
  border-radius: 2px;
  background-color: #ffffff;

}

.Rectangle-2-Copy-5 {
  width: 150px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #979797;

  height: 35px;
  border-radius: 2px;
  background-color: #398fd1;
}

.layer {
  width: 7px;
  height: 18px;
  font-family: FontAwesome;
  font-size: 18px;
  text-align: left;
  color: #5e6167;
}

.Rectangle-38 {
  width: 288px;
  height: 32px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
}

.Rectangle-38-Copy {
  width: 226px;
  height: 32px;
  background-color: #398fd1;
  border: solid 1px #dcdcdc;
}

.LOAD-PLAN-EXECUTION {
  width: 256px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #398fd1;
}

.DECISION-TREE-TEMPLA {
  width: 192px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.Line-2-Copy-3 {
  border: solid 2px #398fd1;
}

.table-header-copy {
  width: 96px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #333333;
  background-color:#e7e9ea;
}
.table-header {
  width: 96px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #333333;
}

.Template-name {
height: 36px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #333333;
}

.Rectangle-43-Copy-2 {

  height: 36px;
  background-color: #378dd1;
}
.hoverChangebgColorEven {
  background-color:white;

}
.hoverChangebgColorEven:hover {
  background-color: #398fff;
  color:white;
}
.hoverChangebgColor {
  background-color:#f3f4f4;

}
.hoverChangebgColor:hover {
  background-color: #398fff;
  color:white;
}

.even{
  background-color: white;
}

.odd{
  background-color: #f3f4f4;
}

.border-line{
  border: solid 1px #dcdcdc;
  margin-top: 5px;
  margin-left: -12px;
  margin-right: -12px;
}

.addButtonDiv{
  float:right;
  margin-left: 30px;
  margin-top: -2px;
}

.ok {
  width: 80px;
  height: 33px;
  font-family: Arial;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}

.square{
  border-radius: 2px;
  background-color: #398fd1;
}

.active {
  background-color: #E4EDF9;
}

/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}
