


.Rectangle {
  width: 100%;
  background-color: #f3f4f4;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: inline-table;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}


li a:hover {
  background-color: white;
}

.logo{
  height: 60px;
  text-align: left;
  padding-right: 10px;
}

.Overview {
  width: 160px;
  height: 64px;
  font-family: Arial;
  font-size: 16px;
  text-align: left;
  color: #398fd1;
}

.Create-load-plan {
  width: 180px;
  height: 64px;
  font-family: Arial;
  font-size: 16px;
  text-align: left;
  color: #398fd1;
}

.decision-tree {
  width: 200px;
  height: 64px;
  font-family: Arial;
  font-size: 16px;
  text-align: left;
  color: #398fd1;
}

.Configuration {
  width: 180px;
  height: 64px;
  font-family: Arial;
  font-size: 16px;
  text-align: left;
  color: #398fd1;
}



.router-link-active {
  font-weight: bold;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(207, 210, 214, 1);
  border-top: -1px;
  border-bottom: 0px;
}


/*.active {*/
  /*color: #000;*/
  /*font-weight: bold;*/
/*}*/
