
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<nav class="navbar navbar-default">
  <div class="Rectangle">
    <ul>
      <li class="logo"><img style="width: 130%" src="assets/logo-damco-01.png"></li>
      <li> <a routerLink="/orders"  routerLinkActive="router-link-active" class="decision-tree">Orders</a></li>
      <li> <a routerLink="/schedules" routerLinkActive="router-link-active" class ="Overview">Schedules</a></li>
      <li> <a routerLink="/overview"  routerLinkActive="router-link-active" class="Create-load-plan">Load Plans</a></li>
      <li> <a routerLink="/decisionTrees" routerLinkActive="router-link-active" class="decision-tree ">Decision trees</a></li>
      <li> <a routerLink="/configuration" routerLinkActive="router-link-active" class="Configuration"> Configuration</a></li>
    </ul>
  </div>
</nav>
