
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<div class="overview">Orders</div>
<br>

<button class="importOrders import-rectangle" style="margin-top: 10px;margin-bottom: 10px">
  <a (click)="showImportDialog = !showImportDialog">Import orders</a> </button>

<br>

<div class="buttonDiv">
  <label>Search Filter</label>
  <a (click)="showFilter = !showFilter"  style="float: right;color:#398fd1;">
    <span *ngIf="!showFilter">
    Show Filters <span class="glyphicon glyphicon-chevron-down"></span>
    </span>
    <span *ngIf="showFilter">
      Hide Filters  <span class="glyphicon glyphicon-chevron-up"></span>
    </span>
  </a>


  <div *ngIf="showFilter">
      <div class="row form-group">
        <div class="col-md-3">
          <div class="right-inner-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search"
                   class="form-control"
                   placeholder="PO Number/SO Number" [(ngModel)]="filterVal.soNumber" (keyup)="filterContent()"/>
          </div>
        </div>
        <div class="col-md-1">
          <label>Status</label>
        </div>
        <div class="col-md-2">
          <select [(ngModel)]="filterVal.status"  class="form-control form-control-lg">
            <option value="">- Select -</option>
            <option *ngFor="let status of statuses" value= {{status}}>{{status}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <label>Origin</label>
        </div>
        <div class="col-md-2">
          <select [(ngModel)]="filterVal.origin"  class="form-control form-control-lg">
            <option value="">- Select -</option>
            <option *ngFor="let origin of originCities" value= {{origin}}>{{origin}}</option>
          </select>
        </div>

      </div>

    <div class="row form-group">
      <div class="col-md-1">
        <label>Book Date</label>
      </div>
      <div class="col-md-2">
        <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="filterVal.bookDate"></my-date-picker>
      </div>
      <div class="col-md-1">
        <label>EDD</label>
      </div>
      <div class="col-md-2">
        <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="filterVal.edd"></my-date-picker>
      </div>
      <div class="col-md-1">
        <label>Destination</label>
      </div>
      <div class="col-md-2">
        <select [(ngModel)]="filterVal.destination"  class="form-control form-control-lg">
          <option value="">- Select -</option>
          <option *ngFor="let destination of destinationCities" value= {{destination}}>{{destination}}</option>
        </select>
      </div>

    </div>


      <div>
        <button class="Rectangle-2" (click)="filterContent()"><span class="Apply">Apply</span> </button>
        <button class="Rectangle-2-Copy" (click)="onClear()" ><span class="Cancel">Clear</span> </button>
      </div>
  </div>
</div>

<br>

<app-import-orders-dialog [(visible)]="showImportDialog">
  <div>Import</div>
  <hr class="border-line">

    <div class="row" style="margin-left: 10px">
      <div>
        <label class="upload">File to upload purchase orders</label>
        <input type="file" #fileupload [(ngModel)]="myFile" name="myFile" (change)="fileChange(fileupload.files)"/>
      </div>
      <div>
        <label for="fileType">File Type</label>
        <select [(ngModel)]="fileType"  class="form-control form-control-lg" id="fileType">
          <option *ngFor="let fileType of fileTypes" value= {{fileType}}>{{fileType}}</option>
        </select>
      </div>
    </div>

    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showImportDialog = !showImportDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2"  type="submit" (click)="onImport()"><span>Import</span> </button>
    </div>


  <!--<form #yourForm="ngForm" (ngSubmit)="onSubmit()">-->
    <!--<div>-->
      <!--<input type="text" [(ngModel)]="Name" name="Name"/>-->
      <!--<input type="file" #fileupload [(ngModel)]="myFile" name="myFile" (change)="fileChange(fileupload.files)"/>-->
    <!--</div>-->
   <!--<br>-->
    <!--<button type="submit">Submit</button>-->
  <!--</form>-->
</app-import-orders-dialog>

<div style= "max-width: 100%;">
    <data-table id="films-grid"
                [items]="orders"
                [itemCount]="ordersCount"
                (rowClick)="rowClick()"
                [limit]="15"
                [sortBy]="'expectedDeliveryDate'"
                [sortAsc]="true"
                [selectColumn]="false"
                [multiSelect]="false"
                [substituteRows]="false"
                [expandableRows]="false"
                [translations]="translations"
                [selectOnRowClick]="true"
                [pagination]="true"
                (reload)="reloadorders($event)"
    >
    <template #dataTableExpand let-item="item">
    </template>
    <data-table-column
      [property]="'poNumber'"
      [header]="'PO Number'"
      [sortable]="true">
    </data-table-column>
    <data-table-column
      [property]="'soNumber'"
      [header]="'SO Number'"
      [sortable]="true">
    </data-table-column>
    <data-table-column
      [property]="'bookDate'"
      [header]="'Book Date'"
      [sortable]="true">
    </data-table-column>
    <data-table-column
      [property]="'expectedDeliveryDate'"
      [header]="'EDD'"
      [sortable]="true">
    </data-table-column>
    <data-table-column
      [property]= "'loadPortCity'"
      [header]="'Origin'"
      [sortable]="true">
    </data-table-column>
    <data-table-column
      [property]= "'podCity'"
      [header]="'Destination'"
      [sortable]="true">
    </data-table-column>
    <data-table-column
      [property]="'loadPlanStatus'"
      [header]="'Status'"
      [sortable]="true">
    </data-table-column>
    </data-table>
</div>
