:host /deep/ .index-column,
:host /deep/ .index-column-header {
  text-align: right;
}

:host /deep/ .data-table .data-table-row.selected {
  background-color: #E4EDF9;
}


:host /deep/ .data-table-row {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overview {
  width: 401px;
  height: 27px;
  font-family: Arial;
  font-size: 24px;
  text-align: left;
  color: #5e6167;
}
.outer-rectangle-1 {
  width: 100%;
  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-34-Copy-2 {
  width: 140px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-34 {
  display: inline-block;
  font-weight: 900;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: #398fd1;
  border: solid 1px #d5d7db;
  margin: 30px;
  color:  #ffffff;
}

.dropdown {
  width: 275px;
  height: 32px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 0%;
}

.textBox {
  width: 275px;
  height: 32px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 20px;
}

.Rectangle-2-Copy {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
}

.Apply {
  width: 32px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.Cancel {
  width: 44px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #333333;
}


.Rectangle-2 {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;
}

.buttonDiv{
  margin-left: 30px;
  width: 100%;
  border: solid 1px #dcdcdc;
  margin: -1px;
  padding: 0.5%;
}

.importOrders{
  width: 125px;
  height: 35px;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.import-rectangle {
  width: 125px;
  height: 35px;
  border-radius: 2px;
  background-color: #398fd1;
}

.border-line{
  border: solid 1px #dcdcdc;
  margin-top: 5px;
  margin-left: -12px;
  margin-right: -12px;
}

.upload{
  margin-bottom: 12px;
}

.addButtonDiv{
  float:right;
  margin-left: 30px;
  margin-top: -2px;
}

.create{
  width: 80px;
  height: 40px;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.Rectangle-2 {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;
}


.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

