.schedule {
  width: 401px;
  height: 27px;
  font-family: Arial;
  font-size: 24px;
  text-align: left;
  color: #5e6167;
}

.schedule-button {
  width: 150px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #979797;

  height: 35px;
  border-radius: 2px;
  background-color: #398fd1;
  color:#FFFFFF;
}

.createFromTemplateButton {
  height: 35px;
  width:175px;
  border-radius: 2px;
  border: solid 1px #979797;

  height: 35px;
  border-radius: 2px;
  background-color: #ffffff;

}

.editButton {
  width:150px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #979797;

  height: 35px;
  border-radius: 2px;
  background-color: #ffffff;

}

.deleteButton {
  width:150px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #979797;

  height: 35px;
  border-radius: 2px;
  background-color: #ffffff;

}

.labels{
  margin-right: 2px;
}

.border-line{
  border: solid 1px #dcdcdc;
  margin-top: 5px;
  margin-left: -12px;
  margin-right: -12px;
}

.serviceType{
  margin-left:110px;
}

.leftDropdown{
  width: 200px;
  height: 32px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin-left: 2px;
}

.rightDropdown{
  width: 200px;
  height: 32px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin-left: 25px;
}

.dateClass{
  width: 16%;
}

.addButtonDiv{
  float:right;
  margin-left: 30px;
  margin-top: -2px;
}

.create{
  width: 80px;
  height: 40px;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}


.Rectangle-2 {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;
}

.floatright {
  background-color: #ffffff;
  width:54%;
  float:right;
  height:80vh;
  margin:0px;
  padding:0px;
  position: relative;
  overflow: auto;
}

.floatleft {
  background-color: #ffffff;
  width:46%;
  height:80vh;
}

.small-border-line {
  border: solid 1px #dcdcdc;
  margin-top: 7px;
  margin-right: 600px;
}

.radiobutton {
  margin-right: 5px;
}
