<div class="schedule">Schedule</div>
<br>

<button routerLink="new" class="schedule-button">Schedule load plan</button>
<button class="createFromTemplateButton">Create from Template<span class="layer -caret-down"></span></button>
<button class="editButton">Edit<span class="layer -caret-down"></span></button>
<button class="deleteButton">Delete<span class="layer -caret-down"></span></button>
