.load-plan-detail {
  width: 401px;
  height: 27px;
  font-family: Arial;
  font-size: 24px;
  text-align: left;
  color: #5e6167;
}


.outer-rectangle-1 {
  width: 100%;
  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-34-Copy-2 {
  width: 140px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-34 {
  display: inline-block;
  font-weight: 900;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: #398fd1;
  border: solid 1px #d5d7db;
  margin: 30px;
  color:  #ffffff;
}


.dropdown {
  width: 275px;
  height: 32px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 0%;
}

.textBox {
  width: 275px;
  height: 32px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 20px;
}

.Rectangle-2-Copy {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
}

.Cancel {
  width: 44px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #333333;
}


.Rectangle-2 {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;

}

.actionDiv {
  width: 100%;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  position: relative;
  bottom: 0;
}
.Apply {
  width: 32px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.buttonDiv{
  margin-left: 30px;
  width: 100%;
  border: solid 1px #dcdcdc;
  margin: -1px;
  padding: 0.5%;
}



.template {
  width: 192px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.Line-2-Copy-3 {
  border: solid 2px #398fd1;
}


.Rectangle-38 {
  width: 155px;
  height: 32px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
}

.Rectangle-38-Copy {
  width: 150px;
  height: 32px;
  background-color: #398fd1;
  border: solid 1px #dcdcdc;
}
.table-header {
  width: 96px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #333333;
}

.Template-name {
  height: 36px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #333333;
}

.router-link-active {
  color: #ffffff;
  font-weight:bold;
  background-color: #398fd1;
  border: solid 1px #dcdcdc;
}

.arrow{
  width: 33px;
  height: 33px;
}

.notification{
  width: 120px;
  height: 32px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.border-line{
  border: solid 1px #dcdcdc;
  margin-top: 5px;
  margin-left: -12px;
  margin-right: -12px;
}

.notification-border-line{
  border: solid 1px #398fd1;
  margin-top: 5px;
  margin-left: -12px;
  margin-right: -12px;
}

.box {
  width: 90%;
  border: 1px solid lightgrey;
  padding: 50%;
}

.notification-text{
  width: 62%;
  height: 32px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 1%;
}

.send{
  width: 20%;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;
  margin-left:8%;
}




.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}
