<div>
  <button class="glyphicon glyphicon-chevron-left arrow" (click)="backToLP()"></button>
  <!--<span ><a class="textBox" href="#" class="glyphicon glyphicon-chevron-left"></a></span>-->
  <span class="load-plan-detail">Load Plan Detail #{{LoadPlanNumber}}</span>
</div>

<button class="notification Rectangle-2" style="margin-top: 10px; margin-bottom: 10px;">

  <a (click) = "getNotification()" (click)="showDialog = !showDialog">View Notification</a></button>

<app-notification-dialog [(visible)]="showDialog">
  <div style="color:#398fd1">Notification/ Load Plan #{{LoadPlanNumber}}</div>
  <hr class="notification-border-line">

<div style="max-height: 400px;overflow: auto">


    <div *ngFor="let notification of notifications">
      <div class="well" style="background-color: white;width: 95%;">
        <div style="color:#398fd1"> <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{notification.createdBy}}</div>
      <div style="word-break: break-all;">{{notification.message}}</div>
      <div>{{notification.createdTime}}</div>
      </div>
    </div>
</div>
  <div class="col-md-12" style="position: absolute;bottom: 0;margin-bottom: 10px">
    <hr class="border-line">
    <div>
      <input class="notification-text" type="text" name="value" placeholder="Username" [(ngModel)]="userName">
    </div>
    <div>
      <input class="notification-text" type="text" name="value" [(ngModel)]="message">
      <button class="send" (click)="sendNotification()"><span class="Apply">Send</span></button>
    </div>
  </div>


</app-notification-dialog>

<br>
<div class="buttonDiv">
  <label>Search Filters</label>
  <a (click)="showFilter = !showFilter"  style="float: right;color:#398fd1;">
    <span *ngIf="!showFilter">
    Show Filters <span class="glyphicon glyphicon-chevron-down"></span>
    </span>
    <span *ngIf="showFilter">
      Hide Filters  <span class="glyphicon glyphicon-chevron-up"></span>
    </span>
  </a>

  <div *ngIf="showFilter">
    <div class="row form-group">
      <div class="col-md-3">
        <div class="right-inner-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input type="search"
                 class="form-control"
                 placeholder="LP Number/Container Number" [(ngModel)]="filterVal.lpNumber" (keyup)="filterContent()"/>
        </div>
      </div>
      <div class="col-md-1">
        <label>Carrier</label>
      </div>
      <div class="col-md-2">
        <input type="text"  name="input" [(ngModel)]="filterVal.carrier" class="form-control"/>
      </div>
      <div class="col-md-1">
        <label>Origin</label>
      </div>
      <div class="col-md-2">
        <select [(ngModel)]="filterVal.origin"  class="form-control form-control-lg">
          <option value="">- Select -</option>
          <option *ngFor="let origin of originCities" value= {{origin}}>{{origin}}</option>
        </select>
      </div>

    </div>

    <div class="row form-group">
      <div class="col-md-1">
        <label>LP Cut off date</label>
      </div>
      <div class="col-md-2">
        <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="filterVal.cutOffDate"></my-date-picker>
      </div>
      <div class="col-md-1">
        <label>MOT</label>
      </div>
      <div class="col-md-2">
        <select [(ngModel)]="filterVal.mot" class="form-control form-control-lg">
          <option value="">- Select -</option>
          <option *ngFor="let transport of transports" value= {{transport}}>{{transport}}</option>
        </select>
      </div>
      <div class="col-md-1">
        <label>Destination</label>
      </div>
      <div class="col-md-2">
        <select [(ngModel)]="filterVal.destination"  class="form-control form-control-lg">
          <option value="">- Select -</option>
          <option *ngFor="let destination of destinationCities" value= {{destination}}>{{destination}}</option>
        </select>
      </div>

    </div>


    <div>
      <button class="Rectangle-2" (click)="filterContent()"><span class="Apply">Apply</span> </button>
      <button class="Rectangle-2-Copy" (click)="onClear()" ><span class="Cancel">Clear</span> </button>
    </div>
  </div>
</div>
<br>


<!--<nav>-->
<!--<button class="Rectangle-38-Copy"><a class="template" routerLink="optimized">OPTIMIZED</a></button>-->
<!--<button class="Rectangle-38"> <a routerLink="exception">EXCEPTION</a></button>-->
<!--<button  class="Rectangle-38"><a  routerLink="carrierBooking  ">CARRIER BOOKING</a></button>-->
<!--</nav>-->

<nav>
  <button class="Rectangle-38" routerLinkActive="router-link-active" (click)="redirectException()"
          [ngClass]="this.globalService.isExceptionActive == true ?  'router-link-active' : 'Rectangle-38'">EXCEPTION
  </button>
  <button class="Rectangle-38" routerLinkActive="router-link-active" (click)="redirectOptimized()"
          [ngClass]="this.globalService.isOptimisedActive == true ?  'router-link-active' : 'Rectangle-38'">OPTIMIZED
  </button>
  <button class="Rectangle-38" routerLinkActive="router-link-active" (click)="redirectCarrierBooking()"
          [ngClass]="this.globalService.isCarrierActive == true ?  'router-link-active' : 'Rectangle-38'">CARRIER
    BOOKING
  </button>
</nav>

<hr class="Line-2-Copy-3">


<router-outlet></router-outlet>





