<div class="container-fluid">
  <div class="header" *ngIf="type === 'MOT'">Mode of Transport</div>
  <div class="header" *ngIf="type === 'DamcoOrigin'">Damco origin service</div>
  <div class="header" *ngIf="type === 'CarrierOrigin'">Carrier origin service</div>
  <div class="header" *ngIf="type === 'CarrierDestination'">Carrier destination service</div>
  <hr class="separator">

  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control form-control-lg" [(ngModel)]="newMode">
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary col-md-12" type="button" (click)="onAdd()" *ngIf="operation === 'add'">
          <span class="glyphicon glyphicon-plus"></span> &nbsp;Add
        </button>
        <button class="btn btn-primary col-md-12" type="button" (click)="onAdd()" *ngIf="operation === 'edit'">
          <span class="glyphicon glyphicon-ok"></span> &nbsp;Update
        </button>
      </div>
    </div>
    <hr>
    <table class="table table-striped">
      <tbody>
      <tr *ngFor="let mode of configValues;index as i">
        <td>{{mode}}</td>
        <td align="right">
          <span (click)="onEdit(i)" style="cursor:pointer;" class="glyphicon glyphicon-pencil"></span> &nbsp;
          <span (click)="onRemove(i)" style="cursor:pointer;" class="glyphicon glyphicon-trash"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
