
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="overview">Load plans</div>

  <button class="createNew Rectangle-2" style="margin-top: 10px;margin-bottom: 10px">
    <a (click)="showDialog = !showDialog">Create new</a> </button>


<app-create-load-plan-dialog [(visible)]="showDialog">

<div>Create load plan</div>
  <hr class="border-line">
  <div class="container-fluid">
    <div class="row form-group">
      <div class="col-sm-6">
        <label for="transport">Mode of transport</label>
        <select [(ngModel)]="selectedModeOfTransport" class="form-control form-control-lg" id="transport">
          <option *ngFor="let transport of transports" value={{transport}}>{{transport}}</option>
        </select>

      </div>
      <div class="col-sm-6 ">
        <label for="serviceType">Service type</label>
        <select [(ngModel)]="selectedServiceType" class="form-control form-control-lg" id="serviceType">
          <option *ngFor="let service of serviceTypes" value={{service}}>{{service}}</option>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6">
        <label for="origin">Origin</label>
        <select [(ngModel)]="selectedOrigin.id" (change)="onOriginSelect($event.target.value)" class="form-control form-control-lg" id="origin">
          <option *ngFor="let origin of origins" value={{origin.id}}>{{origin.name}}</option>
        </select>

      </div>
      <div class="col-sm-6 ">
        <label for="originVal"></label>
        <ng-multiselect-dropdown
          id="originVal"
          [data]="originCities"
          [(ngModel)]="selectedOriginValues"
          [settings]="dropdownSettingsForOrigin">
        </ng-multiselect-dropdown>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6">
        <label for="destination">Destination</label>
        <select [(ngModel)]="selectedDestination.id" (change)="onDestinationSelect($event.target.value)" class="form-control form-control-lg"
                id="destination">
          <option *ngFor="let destination of destinations" value={{destination.id}}>{{destination.name}}</option>
        </select>
      </div>
      <div class="col-sm-6 ">
        <label for="DestVal"></label>
        <ng-multiselect-dropdown
          id="DestVal"
          [data]="destinationCities"
          [(ngModel)]="selectedDestinationValues"
          [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6">
        <label for="cutOff">Load plan cut off</label>
        <div class="dateClass" id="cutOff">
          <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="selectedDate"></my-date-picker>
        </div>
      </div>
    </div>
  </div>
    <br>
  <hr class="border-line">
<div class="addButtonDiv">
  <button (click)="showDialog = !showDialog" class="btn" style="color: #398fd1">Cancel</button>
  <button class="create Rectangle-2"  type="button" (click)="createLoadPlan($event)" (click)="showDialog = !showDialog"><span>Create</span> </button>
</div>

</app-create-load-plan-dialog>


<br>

<div class="buttonDiv">
  <label>Search Filters</label>
  <a (click)="showFilter = !showFilter"  style="float: right;color:#398fd1;">
    <span *ngIf="!showFilter">
    Show Filters <span class="glyphicon glyphicon-chevron-down"></span>
    </span>
    <span *ngIf="showFilter">
      Hide Filters  <span class="glyphicon glyphicon-chevron-up"></span>
    </span>
  </a>

  <div *ngIf="showFilter">
    <div class="row form-group">
      <div class="col-md-3">
        <div class="right-inner-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input type="search"
                 class="form-control"
                 placeholder="LP Number/Container Number" [(ngModel)]="filterVal.lpNumber" (keyup)="filterContent()"/>
        </div>
      </div>
      <div class="col-md-1">
        <label>Carrier</label>
      </div>
      <div class="col-md-2">
        <input type="text"  name="input" [(ngModel)]="filterVal.carrier" class="form-control"/>
      </div>
      <div class="col-md-1">
        <label>Origin</label>
      </div>
      <div class="col-md-2">
        <select [(ngModel)]="filterVal.origin"  class="form-control form-control-lg">
          <option value="">- Select -</option>
          <option *ngFor="let origin of originCities" value= {{origin}}>{{origin}}</option>
        </select>
      </div>

    </div>

    <div class="row form-group">
      <div class="col-md-1">
        <label>LP Cut off date</label>
      </div>
      <div class="col-md-2">
        <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="filterVal.cutOffDate"></my-date-picker>
      </div>
      <div class="col-md-1">
        <label>MOT</label>
      </div>
      <div class="col-md-2">
        <select [(ngModel)]="filterVal.mot" class="form-control form-control-lg">
          <option value="">- Select -</option>
          <option *ngFor="let transport of transports" value= {{transport}}>{{transport}}</option>
        </select>
      </div>
      <div class="col-md-1">
        <label>Destination</label>
      </div>
      <div class="col-md-2">
        <select [(ngModel)]="filterVal.destination"  class="form-control form-control-lg">
          <option value="">- Select -</option>
          <option *ngFor="let destination of destinationCities" value= {{destination}}>{{destination}}</option>
        </select>
      </div>

    </div>


    <div>
      <button class="Rectangle-2" (click)="filterContent()"><span class="Apply">Apply</span> </button>
      <button class="Rectangle-2-Copy" (click)="onClear()" ><span class="Cancel">Clear</span> </button>
    </div>
  </div>
</div>
<br>

<nav>
  <button class="Rectangle-38" routerLinkActive="router-link-active" (click)="redirectException()" [ngClass]="this.globalService.isLpExceptionActive == true ?  'router-link-active' : 'Rectangle-38'">EXCEPTION</button>
  <button class="Rectangle-38" routerLinkActive="router-link-active" (click)="redirectOptimized()" [ngClass]="this.globalService.isLpOptimisedActive == true ?  'router-link-active' : 'Rectangle-38'">OPTIMIZED</button>
  <button  class="Rectangle-38" routerLinkActive="router-link-active" (click)="redirectCompleted()" [ngClass]="this.globalService.isLpCompleted == true ?  'router-link-active' : 'Rectangle-38'">COMPLETED</button>
</nav>
<hr class="Line-2-Copy-3">

<router-outlet></router-outlet>






