

.Creating-Rules {
  width: 159px;
  height: 27px;
  font-family: Arial;
  font-size: 24px;
  text-align: left;
  color: #5e6167;
}
.matchingCriteria {
  border-style:solid;
  border-width:1px;
  text-align:center;
  margin-left:10px;
  margin-right:10px;
  height:30px;
  padding-top:5px;
  border-color:#dfdfe1;
  background-color:#ebf4fa;
}
.matchingCriteria:hover {
  cursor:pointer;
  opacity:0.9;
}

.OrderCargoRulesHeading {
  border-style:solid;
  border-width:1px;
  text-align:center;
  width:200px;
  height:30px;
  vertical-align: middle;
  padding-top:5px;
  border-color:#dfdfe1;
}
.OrderCargoRulesHeading:hover {
  cursor:pointer;
  opacity:0.9;
}
.SmallContainer {
  border-style:solid;
  border-width:1px;
  text-align:center;
  width:300px;
  height:30px;
  padding-top:5px;
  background-color:#398fd1;
  padding-left:10px;
  padding-right:10px;

}

.newConditionContainer {
  border-style:dashed;
  border-width:1px;
  font-weight:lighter;
  text-align:center;
  width:300px;
  height:30px;
  vertical-align: middle;
  padding-top:5px;
  border-color:#dfdfe1;
}
.newConditionContainer:hover {
  cursor:pointer;
  opacity:0.9;
}
.divLine {
  border-top-style:solid;
  border-width:3px;
  border-color:#398fd1;
  margin-left:10px;
  margin-right:10px;
}
.SelectedConditionContainer {
  border-style:solid;
  border-width:1px;
  text-align:center;
  width:300px;
  height:30px;
  vertical-align: middle;
  padding-top:5px;
  background-color:#398fd1;
  border-color:#dfdfe1;
  font-weight:normal;
  color:white;

}
.SelectedConditionContainer:hover {
  cursor:pointer;
  opacity:0.9;
}
.ConditionContainer {
   border-style:solid;
   border-width:1px;
   text-align:center;
   width:300px;
   height:30px;
   vertical-align: middle;
   padding-top:5px;
  background-color:#ebf4fa;
  border-color:#dfdfe1;
  font-weight:normal;
 }
.ConditionContainer:hover {
  cursor:pointer;
  opacity:0.9;
}
.newTrueFalseContainer {
  border-style:dashed;
  border-width:1px;
  text-align:center;
  width: 100px;
  height:30px;
  font-weight:lighter;
  vertical-align: middle;
  padding-top:5px;
  border-color:#dfdfe1;
}
.newTrueFalseContainer:hover {
  cursor:pointer;
  opacity:0.9;
}

.EmptyTrueFalseContainer {
  border-style:solid;
  border-width:1px;
  text-align:center;
  width: 100px;
  height:30px;
  font-weight:lighter;
  vertical-align: middle;
  padding-top:5px;
  background-color:white;
  border-color:#dfdfe1;
  color:#398fd1;

}
.EmptyTrueFalseContainer:hover {
  cursor:pointer;
  opacity:0.9;
}
.TrueFalseContainer {
  border-style:solid;
  border-width:1px;
  text-align:center;
  width: 100px;
  height:30px;
  font-weight:lighter;
  vertical-align: middle;
  padding-top:5px;
  background-color:#ebf4fa;
  border-color:#dfdfe1;
  color:#398fd1;
}
.TrueFalseContainer:hover {
  cursor:pointer;
  opacity:0.9;
}
.SaveContainer {
  border-style:solid;
  border-width:1px;
  text-align:center;
  width: 100px;
  height:30px;
  font-weight:lighter;
  border-color:#dfdfe1;
  color:white;
  padding-top:5px;
  background-color:#398fd1;
}
.SaveContainer:hover {
  cursor:pointer;
  opacity:0.9;
}
.PCreating-Rules {
  height: 27px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #5e6167;
}
.Save-Template {
  width: 125px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #ffffff;

}


.wrap {
  width: 100%;
}

.floatleft {
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  width:48%;

  height:80vh;
  margin:15px;
  padding:0px;
}

.floatright {
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  width:48%;
  float:right;
  height:80vh;
  margin:0px;
  padding:0px;
  position: relative;
  overflow: auto;
}


.Edit-rule {
  width: 67px;
  height: 32px;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.29;
  text-align: left;
  color: #5e6167;
  margin: 10px;

  width: 797px;
  border: solid 1px #cfd2d6;
  margin: unset;
}
.rightViewHeading {

  font-family: Arial;
  font-size: large;
  font-weight: bold;
  text-align: left;
  color: #5e6167;
  height:50px;
  padding-top:15px;

  border: solid 1px #cfd2d6;
}
.PEdit-rule {
  width: 67px;
  height: 32px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.29;
  text-align: center;
  color: #5e6167;
  margin: 10px;

  width: 797px;
  border: solid 1px #cfd2d6;
  margin: unset;
}


.Rule-name {
  width: 75px;
  height: 14px;
  font-family: Arial;
  font-size: 12px;
  text-align: left;
  color: #868f98;
  margin: 10px;
}

.Line-1 {
  width: 734px;
  height: 3px;
  border: solid 1px #cfd2d6;
}

.Rectangle-3-Copy {
  width: 800px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
  margin: 10px;

}

.Rectangle-2-Copy {
  width: 700px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
  margin: 10px;

}

.TemplateConditions {
  width: 200px;
  height: 30px;
  font-family: Arial;
  font-weight: bold;
  text-align: left;
  color: #398fd1;
  margin-top:15px;
}

.Line-2 {
  width: 700px;
  border: solid 2px #398fd1;
  margin: 10px;
}

select {
  height: 32px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-34-Copy-2 {
  width: 140px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-33 {
  display: inline-block;
  font-weight: 900;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #d5d7db;
  margin: 10px;
}


.Rectangle-34 {
  display: inline-block;
  font-weight: 900;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: #398fd1;
  border: solid 1px #d5d7db;
  margin: 10px;
  color:  #ffffff;
}

.Add-condition{
  width: 76px;
  height: 14px;
  font-family: Arial;
  font-size: 15px;
  text-align: left;
  color: #398fd1;
}

.Rule-management-edit-Split {
  width: 1440px;
  height: 979px;
  background-color: #ffffff;
}

.And {
  width: 24px;
  height: 14px;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.outer-rectangle-1 {
  width: 720px;

  border: solid 1px #dcdcdc;
  margin: 10px;
}


.outer-rectangle-2 {
  width: 720px;

  border: solid 1px #dcdcdc;
  margin: 10px;
}

.outer-rectangle-3 {
  width: 720px;

  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-37 {
  width: 24px;
  height: 24px;
  border-radius: 1px;
  background-color: #f3f4f4;
}

.actionDiv {
  width: 100%;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  position: relative;
  bottom: 0;
}

.Rectangle-2 {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;

}

.Rectangle-2-Copy {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
}

.Save {
  width: 32px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.Cancel {
  width: 44px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #333333;
}

.tree-name {
  width: 399px;
  height: 39px;
  font-family: Arial;
  font-size: 24px;
  text-align: left;
  color: #5e6167;
  padding-left: 10px;
}
