<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="wrap">
  <div class="floatright">
    <!--Start------ False Action Template-->
    <div *ngIf="rightViewIsFalseAction">
      <div class="rightViewHeading">&nbsp;&nbsp;&nbsp;Edit Action</div>

      <div class="TemplateConditions"><div>&nbsp;&nbsp;&nbsp;FALSE ACTIONS</div></div>

      <div class="divLine"></div>
      <div *ngIf ="!this.globalService.isActionEdit">
      <div *ngFor="let act of rightViewRule.falseActions">
        <div class="row">
          <div class="col-md-2">
            <select [(ngModel)]="act.actionType" style="height: 34px" class="form-control">
              <option *ngFor="let c of actionTypes" [ngValue]="c"> {{c}} </option>
            </select>
          </div>

          <div class="col-md-3" style="margin: 10px">
            <input [(ngModel)]="act.actionName" list="f1adc" class="form-control">
            <datalist id="f1adc">
              <option *ngFor="let c of dataCatalogue" [ngValue]="c"> {{c}} </option>
            </datalist>
          </div>

         <div class="col-md-2" *ngIf="act.actionType == 'split'">
            <select [(ngModel)]="act.actionExpression" style="height: 34px" class="form-control">
              <option *ngFor="let c of actionOperators" [ngValue]="c"> {{c}} </option>
            </select>
          </div>

          <div class="col-md-3" style="margin: 10px" *ngIf="!isSpecialActionField(act.actionName)">
            <input [(ngModel)]="act.actionValue" class="form-control">
          </div>

          <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="act.actionName == 'modeOfTransport'">
            <ng-multiselect-dropdown
              id="transportVal"
              [data]="transports"
              [(ngModel)]="act.actionValue"
              [settings]="dropdownSettingsForAction">
            </ng-multiselect-dropdown>
          </div>

          <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="act.actionName == 'originServiceType'">
            <ng-multiselect-dropdown
              id="serviceTypeVal"
              [data]="serviceTypes"
              [(ngModel)]="act.actionValue"
              [settings]="dropdownSettingsForAction">
            </ng-multiselect-dropdown>
          </div>

          <div  style="margin-top: 15px">
            <span (click)="deleteFalseAction(act)" class="glyphicon glyphicon-trash"></span>
          </div>

        </div>

        <div *ngIf="!this.globalService.isActionEdit">
        <div class="row" *ngIf="act.actionValue == 'exception' || act.actionValue == 'Exception'">
          <div class="col-md-2">
            <select [(ngModel)]="act.assignActionType" style="height: 34px" class="form-control">
              <option>Assign</option>
            </select>
          </div>

          <div class="col-md-3" style="margin: 1px">
              <select [(ngModel)]="act.assignActionName" style="height: 34px;" class="form-control">
              <option>Exception</option>
              </select>
          </div>

          <div class="col-md-3" style="margin: 10px">
            <input [(ngModel)]="act.assignActionValue" class="form-control" style="margin: 4px; margin-left: 19px;">
          </div>

      </div>
          </div>
      </div>

        <div>
          <button (click)="addFalseAction()" class="glyphicon glyphicon-plus Rectangle-34"></button>
          <span class="Add-condition">Add Action</span>
        </div>
      </div>

      <!--Start: Edit Mode Action-->
      <div *ngIf ="this.globalService.isActionEdit">
        <div *ngFor="let act of rightViewRule.falseActions">
          <div class="row" *ngIf="!act.isActionAssigned">
            <div class="col-md-2">
              <select [(ngModel)]="act.actionType" style="height: 34px" class="form-control">
                <option *ngFor="let c of actionTypes" [ngValue]="c"> {{c}} </option>
              </select>
            </div>

            <div class="col-md-3" style="margin: 10px">
              <input [(ngModel)]="act.actionName" list="f1adc" class="form-control">
              <datalist id="f1adc">
                <option *ngFor="let c of dataCatalogue" [ngValue]="c"> {{c}} </option>
              </datalist>
            </div>

            <div class="col-md-2" *ngIf="act.actionType == 'split'">
              <select [(ngModel)]="act.actionExpression" style="height: 34px" class="form-control">
                <option *ngFor="let c of actionOperators" [ngValue]="c"> {{c}} </option>
              </select>
            </div>

            <div class="col-md-3" style="margin: 10px" *ngIf="!isSpecialActionField(act.actionName)">
              <input [(ngModel)]="act.actionValue" class="form-control">
            </div>

            <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="act.actionName == 'modeOfTransport'">
              <ng-multiselect-dropdown
                id="transportVal"
                [data]="transports"
                [(ngModel)]="act.actionValue"
                [settings]="dropdownSettingsForAction">
              </ng-multiselect-dropdown>
            </div>

            <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="act.actionName == 'originServiceType'">
              <ng-multiselect-dropdown
                id="serviceTypeVal"
                [data]="serviceTypes"
                [(ngModel)]="act.actionValue"
                [settings]="dropdownSettingsForAction">
              </ng-multiselect-dropdown>
            </div>

            <div  style="margin-top: 15px">
              <span (click)="deleteFalseAction(act)" class="glyphicon glyphicon-trash"></span>
            </div>

          </div>

            <div class="row" *ngIf="act.actionValue == 'exception'">
              <div class="col-md-2">
                <select [(ngModel)]="act.assignActionType" style="height: 34px" class="form-control">
                  <option>Assign</option>
                </select>
              </div>

              <div class="col-md-3" style="margin: 1px">
                <select [(ngModel)]="act.assignActionName" style="height: 34px;" class="form-control">
                  <option>Exception</option>
                </select>
              </div>

              <div class="col-md-3" style="margin: 10px">
                <input [(ngModel)]="act.assignActionValue" class="form-control" style="margin: 4px; margin-left: 19px;">
              </div>
            </div>

        </div>

        <div>
          <button (click)="addFalseAction()" class="glyphicon glyphicon-plus Rectangle-34"></button>
          <span class="Add-condition">Add Action</span>
        </div>

      </div>

<!--END: Edit mode action-->

    </div>
    <!--End------False Action Template-->

    <!--Start------ True Action Template-->
    <div *ngIf="rightViewIsTrueAction">
      <div class="rightViewHeading">&nbsp;&nbsp;&nbsp;Edit Action</div>

      <div class="TemplateConditions"><div>&nbsp;&nbsp;&nbsp;TRUE ACTIONS</div></div>

      <div class="divLine"></div>
      <div *ngIf ="!this.globalService.isActionEdit">
      <div *ngFor="let act of rightViewRule.trueActions">
        <div class="row">
          <div class="col-md-2">
            <select [(ngModel)]="act.actionType" style="height: 34px" class="form-control">
              <option *ngFor="let c of actionTypes" [ngValue]="c"> {{c}} </option>
            </select>
          </div>

          <div class="col-md-3"  style="margin-top: 10px;margin-left: 10px">
            <input [(ngModel)]="act.actionName" list="f1adc" class="form-control">
            <datalist id="f1adc">
              <option *ngFor="let c of dataCatalogue" [ngValue]="c"> {{c}} </option>
            </datalist>
          </div>

         <div class="col-md-2" *ngIf="act.actionType == 'split'">
            <select [(ngModel)]="act.actionExpression" style="height: 34px" class="form-control">
              <option *ngFor="let c of actionOperators" [ngValue]="c"> {{c}} </option>
            </select>
          </div>

          <div class="col-md-3" style="margin: 10px" *ngIf="!isSpecialActionField(act.actionName)">
            <input [(ngModel)]="act.actionValue" class="form-control">
          </div>

          <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="act.actionName == 'modeOfTransport'">
            <ng-multiselect-dropdown
              id="transportVal"
              [data]="transports"
              [(ngModel)]="act.actionValue"
              [settings]="dropdownSettingsForAction">
            </ng-multiselect-dropdown>
          </div>

          <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="act.actionName == 'originServiceType'">
            <ng-multiselect-dropdown
              id="serviceTypeVal"
              [data]="serviceTypes"
              [(ngModel)]="act.actionValue"
              [settings]="dropdownSettingsForAction">
            </ng-multiselect-dropdown>
          </div>


          <div style="margin-top: 15px">
            <span (click)="deleteTrueAction(act)" class="glyphicon glyphicon-trash"></span>
          </div>

        </div>

        <div *ngIf="!this.globalService.isActionEdit">
          <div class="row" *ngIf="act.actionValue == 'exception' || act.actionValue == 'Exception'">
            <div class="col-md-2">
              <select [(ngModel)]="act.assignActionType" style="height: 34px" class="form-control">
                <option>Assign</option>
              </select>
            </div>

            <div class="col-md-3" style="margin: 1px">
              <select [(ngModel)]="act.assignActionName" style="height: 34px;" class="form-control">
                <option>Exception</option>
              </select>
            </div>

            <div class="col-md-3" style="margin: 10px">
              <input [(ngModel)]="act.assignActionValue" class="form-control" style="margin: 4px; margin-left: 19px;">
            </div>

          </div>
        </div>
      </div>
        <div>
          <button (click)="addTrueAction()" class="glyphicon glyphicon-plus Rectangle-34"></button>
          <span class="Add-condition">Add Action</span>
        </div>

      </div>

    <!--start:true actions edit-->
    <div *ngIf ="this.globalService.isActionEdit">
      <div *ngFor="let act of rightViewRule.trueActions">
        <div class="row" *ngIf="!act.isActionAssigned">
          <div class="col-md-2">
            <select [(ngModel)]="act.actionType" style="height: 34px" class="form-control">
              <option *ngFor="let c of actionTypes" [ngValue]="c"> {{c}} </option>
            </select>
          </div>

          <div class="col-md-3" style="margin: 10px">
            <input [(ngModel)]="act.actionName" list="f1adc" class="form-control">
            <datalist id="f1adc">
              <option *ngFor="let c of dataCatalogue" [ngValue]="c"> {{c}} </option>
            </datalist>
          </div>

          <div class="col-md-2" *ngIf="act.actionType == 'split'">
            <select [(ngModel)]="act.actionExpression" style="height: 34px" class="form-control">
              <option *ngFor="let c of actionOperators" [ngValue]="c"> {{c}} </option>
            </select>
          </div>

          <div class="col-md-3" style="margin: 10px" *ngIf="!isSpecialActionField(act.actionName)">
            <input [(ngModel)]="act.actionValue" class="form-control">
          </div>

          <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="act.actionName == 'modeOfTransport'">
            <ng-multiselect-dropdown
              id="transportVal"
              [data]="transports"
              [(ngModel)]="act.actionValue"
              [settings]="dropdownSettingsForAction">
            </ng-multiselect-dropdown>
          </div>

          <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="act.actionName == 'originServiceType'">
            <ng-multiselect-dropdown
              id="serviceTypeVal"
              [data]="serviceTypes"
              [(ngModel)]="act.actionValue"
              [settings]="dropdownSettingsForAction">
            </ng-multiselect-dropdown>
          </div>

          <div  style="margin-top: 15px">
            <span (click)="deleteTrueAction(act)" class="glyphicon glyphicon-trash"></span>
          </div>

        </div>


        <div class="row" *ngIf="act.actionValue == 'exception'">
          <div class="col-md-2">
            <select [(ngModel)]="act.assignActionType" style="height: 34px" class="form-control">
              <option>Assign</option>
            </select>
          </div>

          <div class="col-md-3" style="margin: 1px">
            <select [(ngModel)]="act.assignActionName" style="height: 34px;" class="form-control">
              <option>Exception</option>
            </select>
          </div>

          <div class="col-md-3" style="margin: 10px">
            <input [(ngModel)]="act.assignActionValue" class="form-control" style="margin: 4px; margin-left: 19px;">
          </div>
        </div>

      </div>

      <div>
        <button (click)="addTrueAction()" class="glyphicon glyphicon-plus Rectangle-34"></button>
        <span class="Add-condition">Add Action</span>
      </div>

    </div>
    </div>

    <!--end: true actions Edit-->

    <!--End------true Action Template-->

    <div *ngIf="rightViewIsMatchingCriteria || rightViewIsNotEmpty">
      <div *ngIf="rightViewIsMatchingCriteria" class="rightViewHeading">&nbsp;&nbsp;&nbsp;Matching Criteria</div>
      <div *ngIf="rightViewIsNotEmpty" class="rightViewHeading">&nbsp;&nbsp;&nbsp;Edit Rule</div>


      <div *ngIf="rightViewIsMatchingCriteria" class="TemplateConditions">&nbsp;&nbsp;&nbsp;TEMPLATE CONDITION</div>

      <div *ngIf="rightViewIsNotEmpty" class="TemplateConditions"><div>&nbsp;&nbsp;&nbsp;Rule Name</div></div>
      <div *ngIf="rightViewIsNotEmpty">&nbsp;&nbsp;&nbsp;<input [(ngModel)]="rightViewRule.name"></div>
      <div *ngIf="rightViewIsNotEmpty" class="TemplateConditions">&nbsp;&nbsp;&nbsp;CONDITIONS</div>
      <div class="divLine"></div>

      <div>
        <div  *ngFor="let con of rightViewRule.arrayConditions;let k1 = index">
          <div style="border-style:solid;border-width:1px;margin-top:10px;margin-left:10px;margin-right:10px;">
            <div *ngFor="let scon of con.arraySimpleConditions;let k = index">
              <div class="row">
                <div class="col-sm-3" style="margin-top: 10px;margin-left: 10px">

                  <input [(ngModel)]="scon.leftOperand.value" class="form-control" list="lopdc">
                  <datalist id="lopdc">
                    <option *ngFor="let c of dataCatalogue" [ngValue]="c"> {{c}} </option>
                  </datalist>
                </div>
                <div >
                  <select [(ngModel)]="scon.operator" class="form-control" style="height: 34px">
                    <option *ngFor="let c of operators" [ngValue]="c"> {{c}} </option>
                  </select>
                </div>
                <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="!isSpecialField(scon.leftOperand.value)">
                  <input [(ngModel)]="scon.rightOperand.value" list="ropdc" class="form-control"/>
                  <datalist id="ropdc">
                    <option *ngFor="let c of dataCatalogue" [ngValue]="c"> {{c}} </option>
                  </datalist>
                </div>
                <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="isCityField(scon.leftOperand.value)">

                  <ng-multiselect-dropdown
                    id="originVal"
                    [data]="cities"
                    [(ngModel)]="scon.rightOperand.multiValue"
                    [settings]="dropdownSettings">
                  </ng-multiselect-dropdown>

                </div>
                <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="isCountryField(scon.leftOperand.value)">

                  <ng-multiselect-dropdown
                    id="originCountry"
                    [data]="countries"
                    [(ngModel)]="scon.rightOperand.multiValue"
                    [settings]="dropdownSettings">
                  </ng-multiselect-dropdown>

                </div>
                <div class="col-sm-4" style="margin-top: 10px;margin-left: 10px" *ngIf="isDateField(scon.leftOperand.value)">
                  <div *ngIf="scon.operator === 'Between'">
                    <my-date-range-picker name="mydaterange" [options]="dateRangePickerOptions"
                                          [(ngModel)]="scon.rightOperand.dateRange"></my-date-range-picker>
                  </div>
                  <div *ngIf="scon.operator !== 'Between'">
                    <my-date-picker [options]="datePickerOptions" [(ngModel)]="scon.rightOperand.date"></my-date-picker>
                  </div>

                </div>
                <div style="margin-top: 20px">
                  <span (click)="deleteSimpleCondition(scon, con)" class="glyphicon glyphicon-trash"></span>
                </div>
                <div class="col-sm-2">
                  <div *ngIf="k != (con.arraySimpleConditions.length - 1)">
                    <select [(ngModel)]="con.operators[k]" class="form-control" style="height: 34px">
                      <option *ngFor="let c of operators" [ngValue]="c"> {{c}} </option>
                    </select>
                  </div>
                </div>
                </div>

            </div>
            <div>
              <button (click)="addSimpleCondition(con)" class="glyphicon glyphicon-plus Rectangle-34"></button>
              <span class="Add-condition">Add condition</span>
            </div>
          </div>
          <div>
            <div *ngIf="k1 != (rightViewRule.arrayConditions.length - 1)">
              <select [(ngModel)]="rightViewRule.operators[k1]" style="width:100px;">
                <option *ngFor="let c of operators" [ngValue]="c"> {{c}} </option>
              </select>
            </div>
          </div>

        </div>
        <div style="border-style:solid;border-width:1px;margin-top:10px;margin-left:10px;margin-right:10px;">
          <div>
            <button (click)="addLevelOneCondition(rightViewRule)" class="glyphicon glyphicon-plus Rectangle-34"></button>
            <span class="Add-condition">Add condition</span>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="floatleft">
    <div style="margin-top:30px;"></div>
    <div style="margin-left: 13px">
      <input [(ngModel)]="decisionTreeName"  class="tree-name">
    </div>
    <div style="margin-top:30px;"></div>
    <div style="margin-left:10px;">
      <table>
        <tr>
          <th><div (click)="createDecisionTreeJson()" class="SaveContainer"><span>Save</span></div></th>
          <th>&nbsp;&nbsp;</th>
          <th><div (click)="createDecisionTreeJson()" class="EmptyTrueFalseContainer">Simulate</div></th>
        </tr>
      </table>
    </div>
    <div style="margin-top:30px;"></div>
    <div class="matchingCriteria" (click)="showMatchingCriteria()">Execution Criteria</div>
    <div style="margin-top:30px;">
    <div *ngIf="sor" id="ordercargorules" style="width:400px;margin:auto;">
      <div class="OrderCargoRulesHeading" (click)="showCargoGroupingRules();" style="float:right;">Cargo Grouping Rules</div>
      <div class="OrderCargoRulesHeading" (click)="showOrderRules();" style="background-color:#ebf4fa;">Order Rules</div>

    </div>
  <div *ngIf="scgr" id="ordercargorules1" style="width:400px;margin:auto;">

    <div class="OrderCargoRulesHeading" (click)="showCargoGroupingRules();" style="float:right;background-color:#ebf4fa;">Cargo Grouping Rules</div>
    <div class="OrderCargoRulesHeading" (click)="showOrderRules();">Order Rules</div>
  </div>
    </div>
    <div style="margin-top:30px;"></div>
    <div [sortablejs]="viewOrderCargoRules.arrayRules" style="cursor: move;">
    <div *ngFor="let pRule of viewOrderCargoRules.arrayRules">
    <table style="width:600px;margin:auto;margin-top:10px;">
      <tr>
        <th>
          <div *ngIf="pRule == rightViewRule" (click)="showRightViewRule(pRule)" class="SelectedConditionContainer">{{pRule.name}}</div>
          <div *ngIf="pRule != rightViewRule" (click)="showRightViewRule(pRule)" class="ConditionContainer">{{pRule.name}}</div>

        </th>
        <th><div style="margin:auto;"><span class="glyphicon glyphicon-arrow-right">&nbsp;&nbsp;</span></div></th>
        <th>
          <div *ngIf="pRule.trueActions.length > 0"(click)="addModifyTrueActions(pRule)" class="TrueFalseContainer">TRUE</div>

          <div *ngIf="pRule.trueActions.length == 0"(click)="addModifyTrueActions(pRule)" class="EmptyTrueFalseContainer">TRUE</div>
        </th>
        <th>
          <div *ngIf="pRule.falseActions.length > 0" (click)="addModifyFalseActions(pRule)" class="TrueFalseContainer">FALSE</div>
          <div *ngIf="pRule.falseActions.length == 0" (click)="addModifyFalseActions(pRule)" class="EmptyTrueFalseContainer">FALSE</div>
        </th>
      </tr>
    </table>
    </div>
    </div>
    <table style="width:600px;margin:auto;margin-top:10px;">
      <tr>
        <th><div (click)="addModifyNewRule()" class="newConditionContainer">Click Here To Create New Rule!</div></th>
        <th><div style="margin:auto;"><span class="glyphicon glyphicon-arrow-right">&nbsp;&nbsp;</span></div></th>
        <th><div class="newTrueFalseContainer">TRUE</div></th>
        <th><div class="newTrueFalseContainer">FALSE</div></th>
      </tr>
    </table>

</div>




