<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<div style="margin: auto; max-width: 1500px; margin-top:-10px">-->
<div>
  <button class="Rectangle-38" ><span>Book</span></button>
  <button  class="Rectangle-38" ><span>Amend</span></button>
  <button  class="Rectangle-38" ><span>Cancel</span></button>
  <button  class="Rectangle-38" ><span>Change</span></button>


  <div style= "width: 100%; margin-top:-10px">
    <data-table id="films-grid"
                [items]="containers"
                [itemCount]="containerCount"
                (reload)="reloadTable($event)"
                [limit]="10"
                [sortBy]="'etd'"
                [sortAsc]="true"
                [selectColumn]="false"
                [multiSelect]="false"
                [substituteRows]="false"
                [expandableRows]="false"
                [translations]="translations"
                [indexColumnHeader]="'#'"
                [selectOnRowClick]="true"

    >

      <data-table-column
        [property]="'containerNumber'"
        [header]="'Container Number'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'carrier'"
        [header]="'Carrier'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'containerSizeType'"
        [header]="'Container size type'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'volume'"
        [header]="'Volume'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'loadPort'"
        [header]="'Load Port'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'dischargePort'"
        [header]="'Discharge Port'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'destination'"
        [header]="'Destination'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'etd'"
        [header]="'ETD'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'eta'"
        [header]="'ETA'"
        [sortable]="true">
      </data-table-column>
    </data-table>









