.Rectangle-38 {
  width: 125px;
  height: 32px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
}

.Rectangle-38-Copy {
  width: 125px;
  height: 32px;
  background-color: #398fd1;
  border: solid 1px #dcdcdc;
  color: #ffffff;
}


.dropbtn {
  background-color: #ffffff;
  width: 125px;
  height: 32px;
  color: black;
  border: solid 1px #dcdcdc;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
  display: block;
}

.addPo {
  width: 401px;
  height: 27px;
  font-family: Arial;
  font-size: 24px;
  text-align: left;
  color: #5e6167;
}

.outer-rectangle-1 {
  width: 850px;
  border: solid 1px #dcdcdc;
  margin: 20px;
}

.dropdown1 {
  width: 275px;
  height: 32px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 20px;
  margin-left: 200px;
}


.Rectangle-34-Copy-2 {
  width: 140px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-34 {
  display: inline-block;
  font-weight: 900;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: #398fd1;
  border: solid 1px #d5d7db;
  margin: 30px;
  color:  #ffffff;
}
.buttonDiv{
  float:left;
  margin-left: 30px;
  margin-top: 15px;
}

.Apply {
  width: 32px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}


.clear {
  width: 44px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #333333;
}

.Rectangle-2 {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;

}

.Rectangle-2-Copy {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
}

.Line-2-Copy-3 {
  border: solid 2px #398fd1;
}

.filters{
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
}

.even{
  background-color: white;
}

.odd{
  background-color: #f3f4f4;
}

.table-header {
  width: 150px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #333333;
}
.Template-name {
  height: 36px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #333333;
}

.addPO {
  width: 32px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.addButtonDiv{
  float:right;
  margin-left: 30px;
  margin-top: 15px;
}
