<div class="container-fluid">
  <div class="header">Destination</div>
  <hr class="separator">

  <div>

    <button class="Rectangle-38" (click)="showAddRecordDialog = !showAddRecordDialog"><span>Add a Record</span></button>
    <button class="Rectangle-38" [disabled] = "destinationTable.selectedRows.length != 1" (click)="editRecord()"><span>Edit Record</span></button>
    <button class="Rectangle-38"><a (click)="deleteDestination($event)">Delete a record</a></button>
    <button class="Rectangle-38"><a (click)="exportToExcel()">Export to Excel</a></button>
    <button class="Rectangle-38" (click)="showImportDialog = !showImportDialog"><span>Import from Excel</span></button>

  </div>


  <app-add-record-dialog [(visible)]="showAddRecordDialog">

    <div>Add Destination</div>
    <hr class="border-line">

    <div>
      <span class="heading">Destination Name</span>
      <span class="input-box">Discharge Port</span>
    </div>
    <div>
      <span><input class="input" type="text" id="destinationName" name="destinationName" [(ngModel)]="destinationName"/></span>
      <span class="span"><input class="input" type="text" id="dischargePort" name="dischargePort" [(ngModel)]="dischargePort"/></span>
    </div>
    <br>

    <div>
      <span class="heading">Transit time</span>
    </div>
    <div>
      <span><input class="input" type="text" id="transitTime" name="transitTime" [(ngModel)]="transitTime"/></span>
    </div>

    <br>

    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showAddRecordDialog = !showAddRecordDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="addDestinationRecord()"
              (click)="showAddRecordDialog = !showAddRecordDialog"><span>Add</span></button>
    </div>
  </app-add-record-dialog>



  <app-edit-record-dialog [(visible)]="showEditDialog">

    <div>Edit Destination</div>
    <hr class="border-line">

    <div>
      <span class="heading">Destination Name</span>
      <span class="input-box">Discharge Port</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editDestinationName" name="editDestinationName" [(ngModel)]="editDestinationName"/></span>
      <span class="span"><input class="input" type="text" id="editDischargePort" name="editDischargePort" [(ngModel)]="editDischargePort"/></span>
    </div>
    <br>

    <div>
      <span class="heading">Transit time</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editTransitTime" name="editTransitTime" [(ngModel)]="editTransitTime"/></span>
    </div>

    <br>
    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showEditDialog = !showEditDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="editDestinationRecord()"
              (click)="showEditDialog = !showEditDialog"><span>Save</span></button>
    </div>
  </app-edit-record-dialog>

  <app-import-orders-dialog [(visible)]="showImportDialog">
    <div>Import destination</div>
    <hr class="border-line">
    <form #yourForm="ngForm" (ngSubmit)="onImport()">
      <div>
        <label class="upload">Choose file to upload Destination data</label>
        <input type="file" #fileupload [(ngModel)]="myDestination" name="myDestinations"
               (change)="fileChange(fileupload.files)"/>
      </div>
      <br>
      <hr class="border-line">
      <div class="addButtonDiv">
        <button (click)="showImportDialog = !showImportDialog" class="btn" style="color: #398fd1">Cancel</button>
        <button class="import Rectangle-2" type="submit"><span>Import</span></button>
      </div>
    </form>
  </app-import-orders-dialog>


  <div style="max-width: 100%;">
    <data-table id="destination-grid"
                [items]="destinations"
                [itemCount]="destinationCount"
                [limit]="15"
                [sortBy]="'destinationName'"
                [sortAsc]="true"
                [selectColumn]="true"
                [multiSelect]="true"
                [substituteRows]="false"
                [expandableRows]="false"
                [indexColumnHeader]="'#'"
                [indexColumn]="true"
                [translations]="translations"
                [selectOnRowClick]="true"
                [pagination]="true"
                (reload)="reloadDestination($event)"
    >
      <template #dataTableExpand let-item="item">
      </template>
      <data-table-column
        [property]="'destinationName'"
        [header]="'Destination Name'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'dischargePort'"
        [header]="'Discharge Port'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'transitTime'"
        [header]="'Transit Time'"
        [sortable]="true">
      </data-table-column>
    </data-table>
  </div>


</div>
