.header {
  font-family: Arial;
  font-size: 20px;
  text-align: left;
  color: #5e6167;
}


.separator{
  border: solid 1px  #398fd1;
  margin-top: 5px;
}

.Rectangle-38 {
  width: 133px;
  height: 32px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
}

.border-line{
  border: solid 1px #dcdcdc;
  margin-top: 5px;
  margin-left: -12px;
  margin-right: -12px;
}

.upload{
  margin-bottom: 12px;
}

.import{
  width: 80px;
  height: 40px;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.Rectangle-2 {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;
}

.addButtonDiv{
  float:right;
  margin-left: 30px;
  margin-top: -2px;
}

.input-box{
  margin-left:133px;
}

.heading{
  margin-right: 2px;
}

.input {
  width: 40%;
  height: 30px;
}

.span{
  margin-left: 50px;
}
