<div class="header">Configuration</div>
<br>


<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">

    <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <nav class="list-group">
        <ul class="mainmenu">
          <li class="list-group-item header-item">Location</li>
            <li class="list-group-item submenu" routerLink="location" routerLinkActive="active-link">Location</li>
            <li class="list-group-item submenu" routerLink="origin" routerLinkActive="active-link">Origin</li>
            <li class="list-group-item submenu" routerLink="warehouse" routerLinkActive="active-link">Warehouse</li>
            <li class="list-group-item submenu" routerLink="destination" routerLinkActive="active-link">Destination</li>
            <li class="list-group-item submenu">Geog</li>

          <li class="list-group-item header-item">Carrier</li>
            <li class="list-group-item submenu">Carrier</li>
            <li class="list-group-item submenu" routerLink="vesselSchedule" routerLinkActive="active-link">Vessel schedule</li>
            <li class="list-group-item submenu" routerLink="containerFillRate" routerLinkActive="active-link">Container fill rate</li>
          <li class="list-group-item submenu" routerLink="allowedContainers" routerLinkActive="active-link">Allowed Containers</li>

          <li class="list-group-item header-item">Application Table</li>
            <li class="list-group-item submenu" routerLink="appData/MOT" routerLinkActive="active-link">Mode of Transport</li>
            <li class="list-group-item submenu" routerLink="appData/DamcoOrigin" routerLinkActive="active-link">Damco Origin Service</li>
            <li class="list-group-item submenu" routerLink="appData/CarrierOrigin" routerLinkActive="active-link">Carrier Origin Service</li>
            <li class="list-group-item submenu" routerLink="appData/CarrierDestination" routerLinkActive="active-link">Carrier Destination Service</li>
            <li class="list-group-item submenu" routerLink="appData/containerType" routerLinkActive="active-link">Container type</li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-12 col-sm-10 content">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
