.header {
  font-family: Arial;
  font-size: 24px;
  text-align: left;
  color: #5e6167;
}


html, body {
  font-family: Arial;
}

ul {
  padding: 0px;
  font-family: Arial;
}

li {
  border-radius: 4px ;
}

.submenu{
  padding: 7px 25px;
  font-size: 14px;
  cursor: pointer;
}
.header-item {
  font-size: 16px;
  background-color: #398fd1;
  color: white;
}

/* add hover behaviour */
.mainmenu .submenu:hover {
  background-color: #ECECEC;
}

.active-link {
  background-color: lightgray;
}


