<div class="container-fluid">
  <div class="header" >Container Type</div>
  <hr class="separator">

  <div class="col-md-5">
    <div class="row form-horizontal">
      <div class="col-md-5">
        <label for="type">Container type</label>
        <input type="text" class="form-control form-control-lg" [(ngModel)]="newType.containerType" id="type">
      </div>
      <div class="col-md-3">
        <label for="volume">Volume</label>
        <input type="number" class="form-control form-control-lg" [(ngModel)]="newType.volume" id="volume" min="0">
      </div>
      <div class="col-md-3" style="margin-top: 25px">
        <button class="btn btn-primary col-md-12" type="button" (click)="onAdd()" *ngIf="operation === 'add'">
          <span class="glyphicon glyphicon-plus"></span> &nbsp;Add
        </button>
        <button class="btn btn-primary col-md-12" type="button" (click)="onAdd()" *ngIf="operation === 'edit'">
          <span class="glyphicon glyphicon-ok"></span> &nbsp;Update
        </button>
      </div>
    </div>
    <hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Container type</th>
          <th>Volume</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let type of containerTypes;index as i">
        <td class="col-md-5">{{type.containerType}}</td>
        <td class="col-md-3">{{type.volume}}</td>
        <td align="right">
          <span (click)="onEdit(i)" style="cursor:pointer;" class="glyphicon glyphicon-pencil"></span> &nbsp;
          <span (click)="onRemove(i)" style="cursor:pointer;" class="glyphicon glyphicon-trash"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
