<app-navbar></app-navbar>

<!--<div [hidden]="!show" id="loading-bar-spinner">
  <div class="spinner-icon"></div>
</div>-->
<div id="mydiv" [hidden]="!show">
  <img src="assets/loader.gif" class="ajax-loader"/>
</div>
<div style="margin: 10px">
  <router-outlet></router-outlet>
</div>


