:host {
  background: white;
  color: #398fd1;
  position: fixed;
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  width: 10%;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: block;
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 10px;
  list-style: none;
}
