<ul>
  <li><a (click)="showDialog = !showDialog">Add PO</a></li>
  <li>Delete PO</li>
  <li><a routerLink="/createLoadPlan"  routerLinkActive="active" class="Create-load-plan"> Create load plan</a></li>
  <li> <a routerLink="/createLoadPlan"  routerLinkActive="active" class="Create-load-plan"> Create load plan</a></li>
</ul>


<app-po-dialog [(visible)]="showDialog">
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <button (click)="showDialog = !showDialog" class="btn">Close</button>
</app-po-dialog>


