

.Creating-Rules {
  width: 159px;
  height: 27px;
  font-family: Arial;
  font-size: 24px;
  text-align: left;
  color: #5e6167;
}

.Save-Template {
  width: 125px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #ffffff;

}


.wrap {
  width: 100%;
}

.floatleft {
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  width:48%;
  float:left;
  height:80vh;
  margin:15px;
  padding:0px;
}

.floatright {
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  width:48%;
  float:right;
  height:80vh;
  margin:15px;
  padding:0px;
  position: relative;
  overflow: auto;
}


.Edit-rule {
  width: 67px;
  height: 32px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.29;
  text-align: left;
  color: #5e6167;
  margin: 10px;

  width: 797px;
  border: solid 1px #cfd2d6;
  margin: unset;
}

.Rule-name {
  width: 75px;
  height: 14px;
  font-family: Arial;
  font-size: 12px;
  text-align: left;
  color: #868f98;
  margin: 10px;
}

.Line-1 {
  width: 734px;
  height: 3px;
  border: solid 1px #cfd2d6;
}

.Rectangle-3-Copy {
  width: 800px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
  margin: 10px;

}

.Rectangle-2-Copy {
  width: 700px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
  margin: 10px;

}

.CONDITIONS {
  width: 96px;
  height: 12px;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #398fd1;
  margin: 10px;
}

.Line-2 {
  width: 700px;
  border: solid 2px #398fd1;
  margin: 10px;
}

select {
  width: 200px;
  height: 32px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-34-Copy-2 {
  width: 140px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-33 {
  display: inline-block;
font-weight: 900;
text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #d5d7db;
  margin: 10px;
}


.Rectangle-34 {
  display: inline-block;
  font-weight: 900;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: #398fd1;
  border: solid 1px #d5d7db;
  margin: 10px;
  color:  #ffffff;
}

.Add-condition{
  width: 76px;
  height: 14px;
  font-family: Arial;
  font-size: 15px;
  text-align: left;
  color: #398fd1;
}

.Rule-management-edit-Split {
  width: 1440px;
  height: 979px;
  background-color: #ffffff;
}

.And {
  width: 24px;
  height: 14px;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.outer-rectangle-1 {
  width: 720px;
  border: solid 1px #dcdcdc;
  margin: 10px;
}


.outer-rectangle-2 {
  width: 720px;

  border: solid 1px #dcdcdc;
  margin: 10px;
}

.outer-rectangle-3 {
  width: 720px;

  border: solid 1px #dcdcdc;
  margin: 10px;
}

.Rectangle-37 {
  width: 24px;
  height: 24px;
  border-radius: 1px;
  background-color: #f3f4f4;
}

.actionDiv {
  width: 100%;

  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  position: relative;
  bottom: 0;

}

.Rectangle-2 {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;

}

.Rectangle-2-Copy {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
}

.Save {
  width: 32px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.Cancel {
  width: 44px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #333333;
}
