<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="Creating-Rules">Creating Rules</div>
<br>

<button class="Save-Template" onclick="myFunction()">save template</button>
<br>
<div class="wrap">
  <div class="floatleft"></div>

  <div class="floatright">

    <div class="Edit-rule">Edit rule</div>
    <br>
    <div class="Rule-name">Rule name</div>

    <input style="width: 90%" type="text" name="ruleName" [(ngModel)] ="ruleName">

    <div class="CONDITIONS">CONDITIONS</div>
    <div class="Line-2"></div>
    <br>

    <div>
      <div>
        <br>

        <div class="outer-rectangle-1" *ngFor="let andCondition of conditions">
          <div  style="float: right;font-weight:bolder ;text-align: center;cursor: pointer" class="Rectangle-37" (click)="removeCondition(andCondition)"> X</div>

          <div  *ngFor="let condition of andCondition">
            <select [(ngModel)]="condition.dataCtl">
              <option *ngFor="let c of dataCatlogue" [ngValue]="c"> {{c}} </option>

            </select>


            <select [(ngModel)]="condition.opearator">
              <option *ngFor="let c of operators" [ngValue]="c"> {{c}} </option>
            </select>


            <input class="Rectangle-34-Copy-2" type="text" name="value" [(ngModel)]="condition.text">
            <span class="Rectangle-33">?</span>
            <span class="glyphicon glyphicon-trash" (click)="removeChildCondition(condition,andCondition)"></span>

            <div>


              <div>
                <select [(ngModel)]="condition.conditionOperator">
                  <option *ngFor="let co of conditionOperator" [ngValue]="co"> {{co}} </option>

                </select>
              </div>

          <div>
            <button (click)="addItemToOr(andCondition)" class="glyphicon glyphicon-plus Rectangle-34"></button>
            <span class="Add-condition">Add condition</span>
          </div>
        </div>

      </div>

    </div>
        <div class="outer-rectangle-1">
          <button (click)="addItem('vendor','Equal to','0', 'AND')" class="glyphicon glyphicon-plus Rectangle-34"></button>
          <span class="Add-condition">Add condition</span>
        </div>

<br>
    <div class="CONDITIONS">ACTIONS</div>
    <div class="Line-2"></div>
<div>
  <select [(ngModel)]="action">
    <option *ngFor="let a of actions" [ngValue]="a"> {{a}} </option>

  </select>
</div>

    <div  *ngFor="let condition of andCondition">
      <select [(ngModel)]="condition.dataCtl">
        <option *ngFor="let c of dataCatlogue" [ngValue]="c"> {{c}} </option>

      </select>
    </div>


    <div class="actionDiv" >
      <div style="float:right ">
        <button class="Rectangle-2-Copy" ><span class="Cancel">Cancel</span> </button>
        <button class="Rectangle-2" (click)="onSave()"><span class="Save">Save</span> </button>
        <!--<button class="Rectangle-2" (click)="onGet()"><span class="Save">GET</span> </button>-->
      </div>
    </div>
  </div>

    <!--<br><br>-->
    <!--<div class="outer-rectangle-2">-->
    <!--<br</div>>-->

    <!--<div class="dropdown">-->

    <!--<select  ng-model="select1">-->
    <!--<option value="Option">option</option>-->
    <!--<option value="Option">option1</option>-->
    <!--<option value="Option">option2</option>-->
    <!--</select>-->

    <!--<select ng-model="select2">-->
    <!--<option value="Option">option</option>-->
    <!--<option value="Option">option1</option>-->
    <!--<option value="Option">option2</option>-->

    <!--</select>-->

    <!--<input class="Rectangle-34-Copy-2" type="text" name="value">-->
    <!--<span class="Rectangle-33">?</span>-->
    <!--<span class="glyphicon glyphicon-trash"></span>-->

    <!--</div>-->


    <!--<div class="dropdown">-->

    <!--<select  ng-model="select1">-->
    <!--<option value="Option">option</option>-->
    <!--<option value="Option">option1</option>-->
    <!--<option value="Option">option2</option>-->
    <!--</select>-->

    <!--<select ng-model="select2">-->
    <!--<option value="Option">option</option>-->
    <!--<option value="Option">option1</option>-->
    <!--<option value="Option">option2</option>-->

    <!--</select>-->

    <!--<input class="Rectangle-34-Copy-2" type="text" name="value">-->
    <!--<span class="Rectangle-33">?</span>-->
    <!--<span class="glyphicon glyphicon-trash"></span>-->

    <!--</div>-->


    <!--<div >-->
    <!--<button   (click)="addItem(select1,select2)" class="glyphicon glyphicon-plus Rectangle-34"></button>-->
    <!--<span class="Add-condition">Add condition</span>-->
    <!--{{message}}-->

    <!--</div>-->

    <!--</div>-->


    <!--<div class="outer-rectangle-3">-->
    <!--<div >-->
    <!--<button   (click)="addItem(select1,select2)" class="glyphicon glyphicon-plus Rectangle-34"></button>-->
    <!--<span class="Add-condition">Add condition</span>-->
    <!--{{message}}-->

    <!--</div>-->
    <!--</div>-->
