<div class="container-fluid">
  <div class="header">Vessel Schedule</div>
  <hr class="separator">

  <div>

    <button class="Rectangle-38" (click)="showAddRecordDialog = !showAddRecordDialog"><span>Add a Record</span></button>
    <button class="Rectangle-38" [disabled] = "vesselScheduleTable.selectedRows.length != 1" (click)="editRecord()"><span>Edit Record</span></button>
    <button class="Rectangle-38"><a (click)="deleteVesselSchedule($event)">Delete a record</a></button>
    <button class="Rectangle-38"><a (click)="exportToExcel()">Export to Excel</a></button>
    <button class="Rectangle-38" (click)="showImportDialog = !showImportDialog"><span>Import from Excel</span></button>

  </div>


  <app-add-record-dialog [(visible)]="showAddRecordDialog">

    <div>Add Vessel Schedule</div>
    <hr class="border-line">

    <div class="container-fluid">
      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="modeOfTransport">Mode Of Transport</label>
          <input type="text" id="modeOfTransport" name="modeOfTransport" [(ngModel)]="modeOfTransport" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="loadingPort">Loading Port</label>
          <input type="text" id="loadingPort" name="loadingPort" [(ngModel)]="loadingPort" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="dischargePort">Discharge Port</label>
          <input type="text" id="dischargePort" name="dischargePort" [(ngModel)]="dischargePort" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="carrier">Carrier</label>
          <input type="text" id="carrier" name="carrier" [(ngModel)]="carrier" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="loop">Loop</label>
          <input type="text" id="loop" name="loop" [(ngModel)]="loop" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="transitTime">Transit time</label>
          <input type="text" id="transitTime" name="transitTime" [(ngModel)]="transitTime" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="etd">ETD</label>
          <input type="text" id="etd" name="etd" [(ngModel)]="etd" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="eta">ETA</label>
          <input type="text" id="eta" name="eta" [(ngModel)]="eta" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6">
          <label for="activationDate">Activation Date</label>
          <div class="dateClass" id="activationDate">
            <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="activationDate"></my-date-picker>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="deactivationDate">Deactivation Date</label>
          <div class="dateClass" id="deactivationDate">
            <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="deactivationDate"></my-date-picker>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="cuttOffDay">Cut Off Day</label>
          <input type="text" id="cuttOffDay" name="cuttOffDay" [(ngModel)]="cuttOffDay" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="twentyDryPerWeek">20DRY per week</label>
          <input type="text" id="twentyDryPerWeek" name="twentyDryPerWeek" [(ngModel)]="twentyDryPerWeek" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="fourtyDryPerWeek">40DRY per week</label>
          <input type="text" id="fourtyDryPerWeek" name="fourtyDryPerWeek" [(ngModel)]="fourtyDryPerWeek" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="fourtyDryHcPerWeek">40DRY HC per week</label>
          <input type="text" id="fourtyDryHcPerWeek" name="fourtyDryHcPerWeek" [(ngModel)]="fourtyDryHcPerWeek" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="fourtyFiveDryPerWeek">45DRY per week</label>
          <input type="text" id="fourtyFiveDryPerWeek" name="fourtyFiveDryPerWeek" [(ngModel)]="fourtyFiveDryPerWeek" class="form-control"/>
        </div>
      </div>
    </div>

    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showAddRecordDialog = !showAddRecordDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="addVesselScheduleRecord()"
              (click)="showAddRecordDialog = !showAddRecordDialog"><span>Add</span></button>
    </div>
  </app-add-record-dialog>



  <app-edit-record-dialog [(visible)]="showEditDialog">

    <div>Edit Vessel Schedule</div>
    <hr class="border-line">

    <div class="container-fluid">
      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="editModeOfTransport">Mode Of Transport</label>
          <input type="text" id="editModeOfTransport" name="editModeOfTransport" [(ngModel)]="editModeOfTransport" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="editLoadingPort">Loading Port</label>
          <input type="text" id="editLoadingPort" name="editLoadingPort" [(ngModel)]="editLoadingPort" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="editDischargePort">Discharge Port</label>
          <input type="text" id="editDischargePort" name="editDischargePort" [(ngModel)]="editDischargePort" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="editCarrier">Carrier</label>
          <input type="text" id="editCarrier" name="editCarrier" [(ngModel)]="editCarrier" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="editLoop">Loop</label>
          <input type="text" id="editLoop" name="editLoop" [(ngModel)]="editLoop" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="editTransitTime">Transit time</label>
          <input type="text" id="editTransitTime" name="editTransitTime" [(ngModel)]="editTransitTime" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="editEtd">ETD</label>
          <input type="text" id="editEtd" name="editEtd" [(ngModel)]="editEtd" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="editEta">ETA</label>
          <input type="text" id="editEta" name="editEta" [(ngModel)]="editEta" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6">
          <label for="editActivationDate">Activation Date</label>
          <div class="dateClass" id="editActivationDate">
            <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="editActivationDate"></my-date-picker>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="editDeactivationDate">Deactivation Date</label>
          <div class="dateClass" id="editDeactivationDate">
            <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="editDeactivationDate"></my-date-picker>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="editCuttOffDay">Cut Off Day</label>
          <input type="text" id="editCuttOffDay" name="editCuttOffDay" [(ngModel)]="editCuttOffDay" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="editTwentyDryPerWeek">20DRY per week</label>
          <input type="text" id="editTwentyDryPerWeek" name="editTwentyDryPerWeek" [(ngModel)]="editTwentyDryPerWeek" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="editFourtyDryPerWeek">40DRY per week</label>
          <input type="text" id="editFourtyDryPerWeek" name="editFourtyDryPerWeek" [(ngModel)]="editFourtyDryPerWeek" class="form-control"/>
        </div>
        <div class="col-sm-6 ">
          <label for="editFourtyDryHcPerWeek">40DRY HC per week</label>
          <input type="text" id="editFourtyDryHcPerWeek" name="editFourtyDryHcPerWeek" [(ngModel)]="editFourtyDryHcPerWeek" class="form-control"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6 ">
          <label for="editFourtyFiveDryPerWeek">45DRY per week</label>
          <input type="text" id="editFourtyFiveDryPerWeek" name="editFourtyFiveDryPerWeek" [(ngModel)]="editFourtyFiveDryPerWeek" class="form-control"/>
        </div>
      </div>
    </div>

    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showEditDialog = !showEditDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="editVesselScheduleRecord()"
              (click)="showEditDialog = !showEditDialog"><span>Save</span></button>
    </div>
  </app-edit-record-dialog>

  <app-import-orders-dialog [(visible)]="showImportDialog">
    <div>Import Vessel Schedule</div>
    <hr class="border-line">
    <form #yourForm="ngForm" (ngSubmit)="onImport()">
      <div>
        <label class="upload">Choose file to upload Location data</label>
        <input type="file" #fileupload [(ngModel)]="myLocations" name="myLocations"
               (change)="fileChange(fileupload.files)"/>
      </div>
      <br>
      <hr class="border-line">
      <div class="addButtonDiv">
        <button (click)="showImportDialog = !showImportDialog" class="btn" style="color: #398fd1">Cancel</button>
        <button class="import Rectangle-2" type="submit"><span>Import</span></button>
      </div>
    </form>
  </app-import-orders-dialog>


  <div style="max-width: 100%;">
    <data-table id="vessel-grid"
                [items]="vesselSchedules"
                [itemCount]="vesselScheduleCount"
                [limit]="15"
                [sortBy]="'modeOfTransport'"
                [sortAsc]="true"
                [selectColumn]="true"
                [multiSelect]="true"
                [substituteRows]="false"
                [expandableRows]="false"
                [indexColumnHeader]="'#'"
                [indexColumn]="true"
                [translations]="translations"
                [selectOnRowClick]="true"
                [pagination]="true"
                (reload)="reloadVesselSchedule($event)"
    >
      <template #dataTableExpand let-item="item">
      </template>
      <data-table-column
        [property]="'modeOfTransport'"
        [header]="'MOT'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'loadingPort'"
        [header]="'Loading Port'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'dischargePort'"
        [header]="'Discharge Port'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'carrier'"
        [header]="'Carrier'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'loop'"
        [header]="'Loop'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'transitTime'"
        [header]="'Transit Time'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'etd'"
        [header]="'ETD'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'eta'"
        [header]="'ETA'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'activationDate'"
        [header]="'Activation Date'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'deactivationDate'"
        [header]="'Deactivation Date'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'cuttOffDay'"
        [header]="'Cut Off Day'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'twentyDryPerWeek'"
        [header]="'20DRY per week'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'fourtyDryPerWeek'"
        [header]="'40DRY per week'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'fourtyDryHcPerWeek'"
        [header]="'40DRY HC per week'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'fourtyFiveDryPerWeek'"
        [header]="'45DRY per week'"
        [sortable]="true">
      </data-table-column>
    </data-table>
  </div>


</div>
