<div class="container-fluid">
  <div class="header">Location</div>
  <hr class="separator">

  <div>

    <button class="Rectangle-38" (click)="showAddRecordDialog = !showAddRecordDialog"><span>Add a Record</span></button>
    <button class="Rectangle-38" [disabled] = "locationTable.selectedRows.length != 1" (click)="editRecord()"><span>Edit Record</span></button>
    <button class="Rectangle-38"><a (click)="deleteLocation($event)">Delete a record</a></button>
    <button class="Rectangle-38"><a (click)="exportToExcel()">Export to Excel</a></button>
    <button class="Rectangle-38" (click)="showImportDialog = !showImportDialog"><span>Import from Excel</span></button>

  </div>


  <app-add-record-dialog [(visible)]="showAddRecordDialog">

    <div>Add Location</div>
    <hr class="border-line">

    <div>
      <span class="heading">Location</span>
      <span class="input-box">Location Code</span>
    </div>
    <div>
      <span><input class="input" type="text" id="location" name="location" [(ngModel)]="location"/></span>
      <span class="span"><input class="input" type="text" id="locationCode" name="locationCode" [(ngModel)]="locationCode"/></span>
    </div>
    <br>

    <div>
      <span class="heading">City</span>
      <span style="margin-left: 218px">City Code</span>
    </div>
    <div>
      <span><input class="input" type="text" id="city" name="city" [(ngModel)]="city"/></span>
      <span class="span"><input class="input" type="text" id="cityCode" name="cityCode" [(ngModel)]="cityCode"/></span>
    </div>

    <br>

    <div>
      <span class="heading">Country</span>
      <span class="input-box">Country Code</span>
    </div>
    <div>
      <span><input class="input" type="text" id="country" name="country" [(ngModel)]="country"/></span>
      <span class="span"><input class="input" type="text" id="countryCode" name="countryCode" [(ngModel)]="countryCode"/></span>
    </div>
    <br>

    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showAddRecordDialog = !showAddRecordDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="addLocationRecord()"
              (click)="showAddRecordDialog = !showAddRecordDialog"><span>Add</span></button>
    </div>
  </app-add-record-dialog>



  <app-edit-record-dialog [(visible)]="showEditDialog">

    <div>Edit Location</div>
    <hr class="border-line">

    <div>
      <span class="heading">Location</span>
      <span class="input-box">Location Code</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editLocation" name="editLocationCode" [(ngModel)]="editLocation"/></span>
      <span class="span"><input class="input" type="text" id="editLocationCode" name="editLocationCode" [(ngModel)]="editLocationCode"/></span>
    </div>
    <br>

    <div>
      <span class="heading">City</span>
      <span style="margin-left: 218px">City Code</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editCity" name="editCity" [(ngModel)]="editCity"/></span>
      <span class="span"><input class="input" type="text" id="editCityCode" name="editCityCode" [(ngModel)]="editCityCode"/></span>
    </div>

    <br>

    <div>
      <span class="heading">Country</span>
      <span class="input-box">Country Code</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editCountry" name="editCountry" [(ngModel)]="editCountry"/></span>
      <span class="span"><input class="input" type="text" id="editCountryCode" name="editCountryCode" [(ngModel)]="editCountryCode"/></span>
    </div>
    <br>

    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showEditDialog = !showEditDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="editLocationRecord()"
              (click)="showEditDialog = !showEditDialog"><span>Save</span></button>
    </div>
  </app-edit-record-dialog>

  <app-import-orders-dialog [(visible)]="showImportDialog">
    <div>Import location</div>
    <hr class="border-line">
    <form #yourForm="ngForm" (ngSubmit)="onImport()">
      <div>
        <label class="upload">Choose file to upload Location data</label>
        <input type="file" #fileupload [(ngModel)]="myLocations" name="myLocations"
               (change)="fileChange(fileupload.files)"/>
      </div>
      <br>
      <hr class="border-line">
      <div class="addButtonDiv">
        <button (click)="showImportDialog = !showImportDialog" class="btn" style="color: #398fd1">Cancel</button>
        <button class="import Rectangle-2" type="submit"><span>Import</span></button>
      </div>
    </form>
  </app-import-orders-dialog>


  <div style="max-width: 100%;">
    <data-table id="location-grid"
                [items]="locations"
                [itemCount]="locationCount"
                [limit]="15"
                [sortBy]="'location'"
                [sortAsc]="true"
                [selectColumn]="true"
                [multiSelect]="true"
                [substituteRows]="false"
                [expandableRows]="false"
                [indexColumnHeader]="'#'"
                [indexColumn]="true"
                [translations]="translations"
                [selectOnRowClick]="true"
                [pagination]="true"
                (reload)="reloadDestinations($event)"
    >
      <template #dataTableExpand let-item="item">
      </template>
      <data-table-column
        [property]="'location'"
        [header]="'Location'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'locationCode'"
        [header]="'Location code'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'city'"
        [header]="'City'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'cityCode'"
        [header]="'City Code'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'country'"
        [header]="'Country'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'countryCode'"
        [header]="'Country Code'"
        [sortable]="true">
      </data-table-column>
    </data-table>
  </div>


</div>
