<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<div style="margin: auto; max-width: 1500px; margin-top:-10px">-->
<div>
  <button class="Rectangle-38-Copy" (click)="confirm()" ><span>Confirm</span></button>
  <button  class="Rectangle-38" (click)="simulate()" ><span>Simulate</span></button>
  <button  class="Rectangle-38" (click)="openDialog()" ><span>Resolve exception</span></button>

  <app-simulate-dialog [(visible)]="showSimulateDialog">
    <div>Simulated Load Plan</div>
    <hr class="border-line">


    <div style= "width:100%; margin-top:-10px">
      <data-table id="simulatedLaodPlan-grid"
                  [items]="simulatedLaodPlan"
                  [itemCount]="simulatedCount"
                  [limit]="10"
                  [sortBy]="'containerNumber'"
                  [sortAsc]="true"
                  [selectColumn]="false"
                  [multiSelect]="false"
                  [substituteRows]="false"
                  [expandableRows]="true"
                  [translations]="translations"
                  [indexColumnHeader]="'#'"
                  [selectOnRowClick]="true"
                  (reload)="reloadSimulatedLp($event)"
                  [rowColors]="rowColors"


                  >
        <template #dataTableExpand let-item="item">
          <table style="width: 100% ;background-color: #f3f4f4;">
            <thead class="table-header">
            <tr style="height: 36px">
              <th></th>
              <th></th>
              <th><span>Orders</span></th>
              <th><span>Booking</span></th>
              <th><span>SKU</span></th>
              <th><span>Vendor</span></th>
              <th><span>Volume</span></th>
              <th><span>Package</span></th>
              <th><span>Expected receive date</span></th>
              <th><span>Expected delivery date</span></th>
              <th><span>Destination</span></th>
              <th><span>status</span></th>
            </tr>
            </thead>
            <tbody class="Template-name">
            <tr *ngFor="let po of item.purchaseOrderOp" [ngClass]="po.poStatus == 'exception' ?  'highlighted' : 'not-highlighted'">
              <td></td>
              <td></td>
              <td><span>{{po.poNumber}}</span> </td>
              <td><span>{{po.soNumber}}</span></td>
              <td><span>{{po.skuNumber}}</span> </td>
              <td><span>{{po.vendoe}}</span> </td>
              <td><span>{{po.bookedCbm}}</span></td>
              <td><span>{{po.bookedCartons}}</span></td>
              <td><span>{{po.expectedCargoReceiptDate}}</span></td>
              <td><span>{{po.expectedDeliveryDate}}</span></td>
              <td><span>{{po.podCity}}</span></td>
              <td><span>{{po.poStatus}}</span></td>
            </tr>
            </tbody>
          </table>
          <!--<div [textContent]="'LPNumber'" style="padding: 5px; color: gray"></div>-->
        </template>

        <data-table-column
          [property]="'containerNumber'"
          [header]="'Container number'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]= "'serviceType'"
          [header]="'Service Type'"
          [sortable]="true">
          <template #dataTableCell let-item="item">
            <span>{{item.purchaseOrderOp[0].originServiceType}}</span>
          </template>
        </data-table-column>
        <data-table-column
          [property]="'carrier'"
          [header]="'Carrier'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]="'containerSizeType'"
          [header]="'Container size'"
          [sortable]="true"
          [cellColors]="cellColor">
        </data-table-column>
        <data-table-column
          [property]="'volume'"
          [header]="'Volume'">
        </data-table-column>
        <data-table-column
          [property]="'loadPort'"
          [header]="'Load port'">
        </data-table-column>
        <data-table-column
          [property]="'dischargePort'"
          [header]="'Discharge port'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]="'destination'"
          [header]="'Destination'">
          <template #dataTableCell let-item="item">
            <span>{{item.purchaseOrderOp[0].podCity}}</span>
          </template>
        </data-table-column>
        <data-table-column
          [property]="'etd'"
          [header]="'ETD'"
          [sortable]="true">
        </data-table-column>
        <data-table-column
          [property]="'eta'"
          [header]="'ETA'">
        </data-table-column>
      </data-table>
    </div>
  </app-simulate-dialog>



  <app-exception-detail-dialog [(visible)]="showDialog">
    <div>Exception detail for LP #{{LoadPlanNumber}}</div>
    <hr class="border-line">

    <div>
    <span>
        <select [(ngModel)]="selectedAction" (change)="onActionSelect(selectedAction)" class="leftDropdown">
           <option *ngFor="let action of exceptionActions" value= {{action}}>{{action}}</option>
        </select>
    </span>

      <span>
        <select [(ngModel)]="selectedActionValues" class="rightDropdown">
          <option value= "">-- Select --</option>
             <option *ngFor="let value of exceptionValues" value= {{value}}>{{value}}</option>
        </select>
    </span>

    </div>
    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showDialog = !showDialog" class="btn">Cancel</button>
      <button class="Rectangle-2"  type="button" (click)="updatePoAction()" (click)="showDialog = !showDialog"><span>Confirm</span> </button>
    </div>

  </app-exception-detail-dialog>



  <app-action-confirmed-popup [(visible)]="showActionConfirmPopup">
    <div  style= "text-align: center;" >
      Actions where not confirmed.
    </div>
    <br>
    <div  style= "text-align: center;">Do you want to exit without applying the actions?
    </div>

    <br>
    <div class="confirmActiondiv">
      <button (click)="showActionConfirmPopup = !showActionConfirmPopup"  (click)="actionConfirm(false)"class="btn">Cancel</button>
      <button class="Rectangle-2"  (click)="actionConfirm(true)"><span>Confirm</span> </button>

    </div>


  </app-action-confirmed-popup>


  <div style= "width: 100%; margin-top:-10px">
    <data-table id="po-grid"
                [items]="po"
                [itemCount]="orderCount"
                [limit]="10"
                [sortBy]="'expectedCargoReceiptDate'"
                [sortAsc]="true"
                [selectColumn]="true"
                [multiSelect]="true"
                [substituteRows]="false"
                [expandableRows]="false"
                [translations]="translations"
                [indexColumnHeader]="'#'"
                [selectOnRowClick]="true"
                (reload)="reloadPo($event)"
                #poTable
    >

      <data-table-column
        [property]="'updateAction'"
        [header]="'Action'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'assignedTo'"
        [header]="'Assigned to'"
        [sortable]="true">
       <!-- <template #dataTableCell let-item="item">
          <span>Damco review</span>
        </template>-->
      </data-table-column>
      <data-table-column
        [property]="'soNumber'"
        [header]="'Booking'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'poNumber'"
        [header]="'Orders'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'skuNumber'"
        [header]="'SKU'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'vendoe'"
        [header]="'Vendor'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'bookedCbm'"
        [header]="'Volume'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'bookedCartons'"
        [header]="'Package'"
        [sortable]="true">
        <template #dataTableCell let-item="item">
          <span></span>
        </template>
      </data-table-column>
      <data-table-column
        [property]="'expectedCargoReceiptDate'"
        [header]="'Expected Receive Date'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'podCity'"
        [header]="'Destination'"
        [sortable]="true">
      </data-table-column>
    </data-table>









