.header{
  color: #398fd1;
  font-size: 16px;
}

.separator{
  border: solid 1px  #398fd1;
}

.well{
  background-color: white;
}

.addButtonDiv{
  float:right;
  margin-left: 30px;
  margin-top: -2px;
}

.create{
  width: 80px;
  height: 40px;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}


.Rectangle-2 {
  width: 96px;
  height: 32px;
  border-radius: 2px;
  background-color: #398fd1;
}
