<div class="row" style="margin-left: 5px">
  <div style="float: left;width: 40%">
    <div class="header">PATTERN</div>
    <hr class="separator">

    <div class="container-fluid">
      <div class="well">
      <div class="row form-group">
        <div class="col-sm-5">
          <label for="start">Start</label>
          <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="startDate" id="start"></my-date-picker>

        </div>
        <div class="col-sm-6 ">
          <label for="startTime">Start time</label>
          <input type="time" id="startTime" name="input" [(ngModel)]="startTime" class="form-control"
                 placeholder="HH:mm: ss" />
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-5">
          <label for="repeat">Repeat</label>
          <select [(ngModel)]="selectedRepeatLp" class="form-control form-control-lg" id="repeat">
            <option *ngFor="let repeat of repeatsLp" value={{repeat}}>{{repeat}}</option>
          </select>
        </div>
        <hr>
      </div>
    </div>
      <div class="well">

        <div class="form-group row">
          <label for="inputRepeat" class="col-sm-2 col-form-label checkbox-inline">Repeat every</label>
          <div class="col-sm-4">
            <input type="text"  name="input" [(ngModel)]="repeat" class="form-control" id="inputRepeat"  aria-describedby="passwordHelpInline"/>
            <small id="passwordHelpInline" class="text-muted">
              <span *ngIf="selectedRepeatLp ==='Weekly'"> week(s) on</span>
              <span *ngIf="selectedRepeatLp ==='Daily'"> day(s)</span>
            </small>
          </div>
        </div>

        <div *ngIf="selectedRepeatLp ==='Weekly'">
          <div class="form-group row">
            <label class="checkbox-inline" *ngFor="let item of days">
              <input type="checkbox"  value="item" (change)="onDayChange($event, item)"> {{item}}
            </label>

          </div>
        </div>
      </div>

      <div class="well">
        <div class="row form-group">
          <div class="col-sm-3">
            <input class="form-check-input" type="radio" [(ngModel)]="selectedEndDate" id="inlineRadio1" value="endDate">
            <label class="form-check-label" for="inlineRadio1" style="padding-left: 2.25rem;font-weight: 400">End date</label>
          </div>
          <div class="col-sm-4">
            <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="endDate" ></my-date-picker>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-3">
            <input class="form-check-input" type="radio" [(ngModel)]="selectedEndDate" id="inlineRadio3" value="endAfter">
            <label class="form-check-label" for="inlineRadio3" style="padding-left: 2.25rem;font-weight: 400">End after</label>
          </div>
          <div class="col-sm-4">

              <input [(ngModel)]="occurences" class="form-control">
          </div>
          <div>Occurrences</div>
        </div>

        <div class="row form-group">
          <div class="col-sm-3">
            <input class="form-check-input" type="radio" [(ngModel)]="selectedEndDate" id="inlineRadio2" value="noEndDate">
            <label class="form-check-label" for="inlineRadio2" style="padding-left: 2.25rem;font-weight: 400">No end date</label>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div style="float: left;width: 7%">&nbsp;  </div>
  <div style="float: left;width: 40%">
    <div class="header">DETAILS</div>
    <hr class="separator">
    <div class="container-fluid">
      <div class="row form-group">
        <div class="col-sm-6">
          <label for="transport">Mode of transport</label>
          <select [(ngModel)]="selectedModeOfTransport" class="form-control form-control-lg" id="transport">
            <option *ngFor="let transport of transports" value={{transport}}>{{transport}}</option>
          </select>

        </div>
        <div class="col-sm-6 ">
          <label for="serviceType">Service type</label>
          <select [(ngModel)]="selectedServiceType" class="form-control form-control-lg" id="serviceType">
            <option *ngFor="let service of serviceTypes" value={{service}}>{{service}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6">
          <label for="origin">Origin</label>
          <select [(ngModel)]="selectedOrigin.id" (change)="onOriginSelect($event.target.value)" class="form-control form-control-lg" id="origin">
            <option *ngFor="let origin of origins" value={{origin.id}}>{{origin.name}}</option>
          </select>

        </div>
        <div class="col-sm-6 ">
          <label for="originVal"></label>
          <ng-multiselect-dropdown
            id="originVal"
            [data]="originCities"
            [(ngModel)]="selectedOriginValues"
            [settings]="dropdownSettingsForOrigin"
            (onSelect)="onOriginChange($event)"
            (onSelectAll)="onOriginChange($event)">
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6">
          <label for="destination">Destination</label>
          <select [(ngModel)]="selectedDestination.id" (change)="onDestinationSelect($event.target.value)" class="form-control form-control-lg"
                  id="destination">
            <option *ngFor="let destination of destinations" value={{destination.id}}>{{destination.name}}</option>
          </select>
        </div>
        <div class="col-sm-6 ">
          <label for="DestVal"></label>
          <ng-multiselect-dropdown
            id="DestVal"
            [data]="destinationCities"
            [(ngModel)]="selectedDestinationValues"
            [settings]="dropdownSettings"
            (onSelect)="onDestinationChange($event)"
            (onSelectAll)="onDestinationChange($event)">
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6">
          <label for="cutOff">Load plan cut off</label>
          <div class="dateClass" id="cutOff">
            <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="selectedCuttOffDate"></my-date-picker>
          </div>
        </div>
        <div class="col-sm-4">
          <label for="excpDate">Before exception date</label>
          <select [(ngModel)]="exceptionDate"  class="form-control form-control-lg"  id="excpDate">
            <option *ngFor="let item of exceptionDates" value={{item}}>{{item}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

</div>
<hr style="margin-right: 10%">

<div class="addButtonDiv" style="margin-right: 10%">
  <button  class="btn" style="color: #398fd1">Cancel</button>
  <button class="create Rectangle-2" type="button" (click)="scheduleLoadPlan()"><span>Schedule</span></button>
</div>
