
:host /deep/ .index-column,
:host /deep/ .index-column-header {
  text-align: right;
}

:host /deep/ .data-table .data-table-row.selected {
  background-color: #E4EDF9;
}

.Template-name {
  height: 36px;
  font-family: Arial;
  font-size: 14px;
  text-align: left;
  color: #333333;
}

.table-header {
  width: 96px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #333333;
}
