<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<div style="margin: auto; max-width: 1500px; margin-top:-10px">-->
<div style= "width:100%; margin-top:-10px">
  <data-table id="exceptionLoadPlan-grid"
              [items]="exceptionLoadPlan"
              [itemCount]="lpCount"
              (rowClick)="rowClick($event)"
              [limit]="10"
              [sortBy]="'cutOff'"
              [sortAsc]="true"
              [selectColumn]="false"
              [multiSelect]="false"
              [substituteRows]="false"
              [expandableRows]="true"
              [translations]="translations"
              [indexColumnHeader]="'#'"
              [selectOnRowClick]="true"
              (reload)="reloadLoadPlan($event)"
  >
    <template #dataTableExpand let-item="item">
      <table style="width: 100% ;background-color: #f3f4f4;">
        <thead class="table-header">
        <tr style="height: 36px">
          <th></th>
          <th></th>
          <th><span>Container Number</span></th>
          <th><span>Service Type</span></th>
          <th><span>Carrier</span></th>
          <th><span>Container size</span></th>
          <th><span>Volume</span></th>
          <th><span>Status</span></th>
          <th><span>Destination</span></th>
        </tr>
        </thead>
        <tbody class="Template-name">
        <tr *ngFor="let container of item.containerDtos">
          <td></td>
          <td></td>
          <td><span>{{container.containerNumber}}</span> </td>
          <td><span *ngIf="container.purchaseOrderOp.length != 0">{{container.purchaseOrderOp[0].originServiceType}}</span> </td>
          <td><span>{{container.carrier}}</span></td>
          <td><span>{{container.containerSizeType}}</span> </td>
          <td><span>{{container.volume}}</span> </td>
          <td><span>{{container.status}}</span></td>
          <td><span *ngIf="container.purchaseOrderOp.length != 0">{{container.purchaseOrderOp[0].podCity}}</span></td>
        </tr>
        </tbody>
      </table>

    </template>
    <data-table-column
      [property]="'loadPlanNumber'"
      [header]="'LPNumber'"
      [sortable]="true">
    </data-table-column>
    <data-table-column
      [property]="'createdBy'"
      [header]="'UserId'"
      [sortable]="true">
    </data-table-column>
    <data-table-column
      [property]="'serviceType'"
      [header]="'Service Type'"
      [sortable]="true">
    </data-table-column>
    <data-table-column
      [property]="'modeOfTransport'"
      [header]="'Mode of transport'"
      [sortable]="true"
      [cellColors]="cellColor">
    </data-table-column>
    <data-table-column
      [property]="'cutOff'"
      [header]="'LP cut off'"
      [sortable]="true">
    </data-table-column>
    </data-table>


