<div class="container-fluid">
  <div class="header">Container Fill Rate</div>
  <hr class="separator">

  <div>

    <button class="Rectangle-38" (click)="showAddRecordDialog = !showAddRecordDialog"><span>Add a Record</span></button>
    <button class="Rectangle-38" [disabled] = "containerTable.selectedRows.length != 1" (click)="editRecord()"><span>Edit Record</span></button>
    <button class="Rectangle-38"><a (click)="deleteContainerFillRate($event)">Delete a record</a></button>
    <button class="Rectangle-38"><a (click)="exportToExcel()">Export to Excel</a></button>
    <button class="Rectangle-38" (click)="showImportDialog = !showImportDialog"><span>Import from Excel</span></button>

  </div>


  <app-add-record-dialog [(visible)]="showAddRecordDialog">

    <div>Add Container fill rate</div>
    <hr class="border-line">

    <div>
      <span class="heading">Product Type</span>
      <span class="input-box">Container Size</span>
    </div>
    <div>
      <span><input class="input" type="text" id="productType" name="productType" [(ngModel)]="productType"/></span>
      <span class="span"><input class="input" type="text" id="containerSize" name="containerSize" [(ngModel)]="containerSize"/></span>
    </div>
    <br>

    <div>
      <span class="heading">Min CBM</span>
      <span style="margin-left: 185px;">Max CBM</span>
    </div>
    <div>
      <span><input class="input" type="text" id="minCbm" name="minCbm" [(ngModel)]="minCbm"/></span>
      <span class="span"><input class="input" type="text" id="maxCbm" name="maxCbm" [(ngModel)]="maxCbm"/></span>
    </div>

    <br>

    <div>
      <span class="heading">Min KGS</span>
      <span style="margin-left: 188px;">Max KGS</span>
    </div>
    <div>
      <span><input class="input" type="text" id="minKgs" name="minKgs" [(ngModel)]="minKgs"/></span>
      <span class="span"><input class="input" type="text" id="maxKgs" name="maxKgs" [(ngModel)]="maxKgs"/></span>
    </div>

    <br>

    <div>
      <span class="heading">Origin</span>
      <span style="margin-left: 207px;">Destination</span>
    </div>
    <div>
      <span><input class="input" type="text" id="origin" name="origin" [(ngModel)]="origin"/></span>
      <span class="span"><input class="input" type="text" id="destination" name="destination" [(ngModel)]="destination"/></span>
    </div>

    <br>


    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showAddRecordDialog = !showAddRecordDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="addContainerFillRateRecord()"
              (click)="showAddRecordDialog = !showAddRecordDialog"><span>Add</span></button>
    </div>
  </app-add-record-dialog>



  <app-edit-record-dialog [(visible)]="showEditDialog">

    <div>Edit Container Fill Rate</div>
    <hr class="border-line">

    <div>
      <span class="heading">Product Type</span>
      <span class="input-box">Container Size</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editProductType" name="editProductType" [(ngModel)]="editProductType"/></span>
      <span class="span"><input class="input" type="text" id="editContainerSize" name="editContainerSize" [(ngModel)]="editContainerSize"/></span>
    </div>
    <br>

    <div>
      <span class="heading">Min CBM</span>
      <span style="margin-left: 185px;">Max CBM</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editMinCbm" name="editMinCbm" [(ngModel)]="editMinCbm"/></span>
      <span class="span"><input class="input" type="text" id="editMaxCbm" name="editMaxCbm" [(ngModel)]="editMaxCbm"/></span>
    </div>

    <br>

    <div>
      <span class="heading">Min KGS</span>
      <span style="margin-left: 188px;">Max KGS</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editMinKgs" name="editMinKgs" [(ngModel)]="editMinKgs"/></span>
      <span class="span"><input class="input" type="text" id="editMaxKgs" name="editMaxKgs" [(ngModel)]="editMaxKgs"/></span>
    </div>

    <br>

    <div>
      <span class="heading">Origin</span>
      <span style="margin-left: 207px;">Destination</span>
    </div>
    <div>
      <span><input class="input" type="text" id="editOrigin" name="editOrigin" [(ngModel)]="editOrigin"/></span>
      <span class="span"><input class="input" type="text" id="editDestination" name="editDestination" [(ngModel)]="editDestination"/></span>
    </div>

    <br>

    <br>
    <hr class="border-line">
    <div class="addButtonDiv">
      <button (click)="showEditDialog = !showEditDialog" class="btn" style="color: #398fd1">Cancel</button>
      <button class="create Rectangle-2" type="button" (click)="editContainerFillRateRecord()"
              (click)="showEditDialog = !showEditDialog"><span>Save</span></button>
    </div>
  </app-edit-record-dialog>

  <app-import-orders-dialog [(visible)]="showImportDialog">
    <div>Import Container Fill Rate</div>
    <hr class="border-line">
    <form #yourForm="ngForm" (ngSubmit)="onImport()">
      <div>
        <label class="upload">Choose file to upload container fill rate data</label>
        <input type="file" #fileupload [(ngModel)]="myContainerFillRate" name="myContainerFillRate"
               (change)="fileChange(fileupload.files)"/>
      </div>
      <br>
      <hr class="border-line">
      <div class="addButtonDiv">
        <button (click)="showImportDialog = !showImportDialog" class="btn" style="color: #398fd1">Cancel</button>
        <button class="import Rectangle-2" type="submit"><span>Import</span></button>
      </div>
    </form>
  </app-import-orders-dialog>


  <div style="max-width: 100%;">
    <data-table id="container-grid"
                [items]="containerFillRates"
                [itemCount]="containerCount"
                [limit]="15"
                [sortBy]="'productType'"
                [sortAsc]="true"
                [selectColumn]="true"
                [multiSelect]="true"
                [substituteRows]="false"
                [expandableRows]="false"
                [indexColumnHeader]="'#'"
                [indexColumn]="true"
                [translations]="translations"
                [selectOnRowClick]="true"
                [pagination]="true"
                (reload)="reloadContainerFillRate($event)"
    >
      <template #dataTableExpand let-item="item">
      </template>
      <data-table-column
        [property]="'productType'"
        [header]="'Product Type'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'containerSize'"
        [header]="'Container Size'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'minCbm'"
        [header]="'Min CBM'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'maxCbm'"
        [header]="'Max CBM'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'minKgs'"
        [header]="'Min KGS'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'maxKgs'"
        [header]="'Max KGS'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'origin'"
        [header]="'Origin'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        [property]="'destination'"
        [header]="'Destination'"
        [sortable]="true">
      </data-table-column>
    </data-table>
  </div>


</div>
